- name: stage_service_requires_service
  display_name: Stage service requires service
  steps:
    - name: step_service_requires_service
      display_name: step_service_requires_service
      hc_template:
        file:
          path: stages/service_requires_service/step.j2
        engine:
          type: jinja2