:host {
  width: 100%;
}

.adcm-rbac-permission {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #303030;
    border: 1px solid #585858;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__label {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 4px;
  }

  &__filter {
    display: flex;
    width: 120px;
    padding-right: 16px;
  }

  &__filter-category.mat-chip-list-stacked {
    width: 100%;

    ::ng-deep {
      .mat-chip-list-wrapper {
        height: 100%;
        box-sizing: border-box;
        padding-right: 8px;
        padding-left: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        flex-wrap: nowrap;
      }
    }
  }

  &__filter-category-item {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  &__options {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 8px;
    height: 100%;
    overflow: hidden;

    adwp-selection-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin-bottom: 8px;

      ::ng-deep {
        .mat-selection-list {
          padding-top: 0;
          height: 100%;
          overflow-y: auto;
        }
      }
    }
  }

  &__notification {
    margin-left: 8px;
    color: #ff9800;
  }
}
