<div class="adcm-rbac-permission">
  <div class="adcm-rbac-permission__filter">
    <mat-chip-list class="adcm-rbac-permission__filter-category mat-chip-list-stacked"
                   multiple selectable
                   (valueChange)="updateFilter('category', $event)">
      <mat-chip class="adcm-rbac-permission__filter-category-item" #chip="matChip"
                *ngFor="let category of ['*', 'adcm']"
                (click)="chip.toggleSelected(true)">
        {{ category }}
      </mat-chip>
    </mat-chip-list>
  </div>

  <mat-divider vertical></mat-divider>

  <div class="adcm-rbac-permission__options">
    <adwp-selection-list
      #optionList
      [ngModel]="form.controls[controlName].value"
      multiple
      [handler]="nameHandler"
      [options]="options | adwpFilter:matcher:form.controls[controlName].value:idHandler"
      (filter)="updateFilter('name', $event)"
      (ngModelChange)="value = $event"
    ></adwp-selection-list>

    <div class="adcm-rbac-permission__actions">
      <button mat-flat-button color="accent" [disabled]="!optionList.list?.selectedOptions.selected.length"
              (click)="save()">Select
      </button>
    </div>
  </div>
</div>
