<ng-container *ngIf="object && candidates">

  <div [formGroup]="object" class="row">
    <mat-form-field class="full-width">
      <mat-select
        #serviceSelect
        formControlName="service"
        placeholder="Service"
        [compareWith]="serviceComparator"
        (selectionChange)="reset()"
      >
        <mat-option [value]="null">--</mat-option>
        <mat-option
          *ngFor="let service of candidates.service"
          [value]="service">
          {{ service | adwpMapper:serviceHandler }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isError('service')">
        <mat-error *ngIf="hasError('required')">
          Service is required.
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>

  <app-parametrized-by-cluster
    *ngIf="!!serviceSelect.value?.clusters && !serviceSelect.disabled"
    [object]="object"
    [candidates]="serviceSelect.value | getParents"
    [isParent]="true"
  >
  </app-parametrized-by-cluster>
</ng-container>
