- name: first_stage
  display_name: "First stage"
  steps:
    - name: stage1_step1
      display_name: "Stage1.Step1"
      config_template:
        file:
          path: wizard_jinja/steps/s1_config.j2
        engine:
          type: jinja2
- name: mapping
  display_name: "Change mapping"
  steps:
    - name: stage1_mapping
      display_name: "change mapping"
      hc_template:
        file:
          path: wizard_jinja/steps/s2_config.j2
        engine:
          type: jinja2
- name: mapping_again
  display_name: "Change mapping"
  steps:
    - name: stage1_mapping_again
      display_name: "change mapping again"
      hc_template:
        file:
          path: wizard_jinja/steps/s3_config.j2
        engine:
          type: jinja2
