- name: hc_apply
  display_name: "hc apply"
  script: hc_apply
  script_type: internal
  params:
    rules:
      - service: service_1
        component: component_1
        action: add
      - service: service_2
        component: component_2
        action: remove
      - service: service_2
        component: component_3
        action: add
