<ng-container *ngIf="form" [formGroup]="form">
  <adwp-input [form]="form" label='Role name' controlName='name'></adwp-input>
  <adwp-input [form]="form" label='Display name' controlName='display_name'></adwp-input>
  <adwp-input [form]="form" label='Description' controlName='description'></adwp-input>
  <adcm-input-rbac-permission [form]="form" label='Permissions' controlName='child'
                              [readonly]="value?.built_in"
                              [nameHandler]="permissions.label"
                              [categoryHandler]="permissions.label"
                              [rbac-roles-as-options]="permissionForm?.filter"
                              rbac-role-type="business"
                              #permissions="rbacRoles">
    <ng-container *ngIf="!value?.built_in || !value" ngProjectAs="app-rbac-permission-form">
      <app-rbac-permission-form [form]="form" [options]="permissions.options$ | async"
                                [nameHandler]="permissions.label" [idHandler]="permissions.id"
                                controlName='child'></app-rbac-permission-form>
    </ng-container>
  </adcm-input-rbac-permission>
  <adwp-controls [title]="title" [disabled]="form.invalid || value?.built_in" (cancel)="onCancel()"
                 (save)="save()"></adwp-controls>
</ng-container>
