<ng-container [formGroup]="form">
  <adwp-input [form]="form" label='Role name' controlName='name'></adwp-input>
  <adwp-input [form]="form" label='Description' controlName='description'></adwp-input>
  <adcm-input-rbac-permission [form]="form" label='Permissions' controlName='child'
                              [nameHandler]="permissions.label"
                              [categoryHandler]="permissions.label"
                              [rbac-roles-as-options]="permissionForm.filter"
                              rbac-role-type="business"
                              #permissions="rbacRoles">
    <app-rbac-permission-form #permissionForm [form]="form" [options]="permissions.options$ | async"
                              [nameHandler]="permissions.label" [idHandler]="permissions.id"
                              controlName='child'></app-rbac-permission-form>
  </adcm-input-rbac-permission>
  <adwp-controls [title]="title" [disabled]="!form.valid" (cancel)="onCancel()" (save)="save()"></adwp-controls>
</ng-container>
