.row {
  display: flex
}
.role-category {
  min-height: 28px;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;

  ::ng-deep button {
    width: 20px;
    height: 20px;
    line-height: 20px;

    mat-icon {
      line-height: 20px;
    }
  }
}
