:global {
  body.theme-dark {
    // alert-info
    --alert-border-info: var(--color-yellow-light);
    --alert-background-info: var(--color-xdark-light);
    --alert-color-info: var(--color-xwhite-off);
    --alert-icon-color-info: var(--color-yellow-light);

    // alert-error
    --alert-border-error: var(--color-light-red);
    --alert-background-error: var(--color-xdark-light);
    --alert-color-error: var(--color-xwhite-off);
    --alert-icon-color-error: var(--color-light-red);

    // alert-success
    --alert-border-success: var(--color-xdark);
    --alert-background-success: #2F3136;
    --alert-color-success: var(--color-xwhite-off);
    --alert-icon-color-success: var(--color-green-light);
  }

  body.theme-light {
    // alert-info
    --alert-border-info: var(--color-json-orange);
    --alert-background-info: var(--color-xgray-alt);
    --alert-color-info: var(--color-xdark);
    --alert-icon-color-info: var(--color-json-orange);

    // alert-error
    --alert-border-error: var(--color-light-red);
    --alert-background-error: var(--color-xgray-alt);
    --alert-color-error: var(--color-xdark);
    --alert-icon-color-error: var(--color-light-red);

    // alert-success
    --alert-border-success: #D9DEF3;
    --alert-background-success: #CEDBE2;
    --alert-color-success: var(--color-xdark);
    --alert-icon-color-success: var(--color-green-darker);
  }
}

.alert {
  border-radius: 12px;
  background: var(--alert-background);
  border: 1px solid var(--alert-border);
  color: var(--alert-color);
  padding: 15px;

  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 400;

  width: 420px;
  word-break: break-word;

  &__icon {
    color: var(--alert-icon-color);
    flex-shrink: 0;
  }

  &__button {
    min-width: 70px !important;
    margin-left: auto;
    flex-shrink: 0;
  }

  &_info {
    --alert-border: var(--alert-border-info);
    --alert-background: var(--alert-background-info);
    --alert-color: var(--alert-color-info);
    --alert-icon-color: var(--alert-icon-color-info);
  }

  &_error {
    --alert-border: var(--alert-border-error);
    --alert-background: var(--alert-background-error);
    --alert-color: var(--alert-color-error);
    --alert-icon-color: var(--alert-icon-color-error);
  }

  &_success {
    --alert-border: var(--alert-border-success);
    --alert-background: var(--alert-background-success);
    --alert-color: var(--alert-color-success);
    --alert-icon-color: var(--alert-icon-color-success);
  }
}
