:global {
  body.theme-dark {
    --job-border-bottom-color: var(--color-xdark);
  }

  body.theme-light {
    --job-border-bottom-color: var(--color-stroke-light);
  }
}

.job {
  height: 35px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;

  &__id {
    min-width: 40px;
    text-align: end;
  }

  &__link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--job-border-bottom-color);
  }
}
