- name: stage_constraint_one_plus
  display_name: Stage constraint one plus
  steps:
    - name: step_constraint_one_plus
      display_name: step_constraint_one_plus
      hc_template:
        file:
          path: stages/constraint_one_plus/step.j2
        engine:
          type: jinja2