:global {
  body.theme-dark {
    --config-compare-created-by-color: var(--color-xdark-metal);
  }

  body.theme-light {
    --config-compare-created-by-color: var(--color-adcmx);
  }
}

.configurationCompareDialog {
  &__toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1024px;
  }

  &__body {
    overflow: auto;
    margin-top: 24px;
    max-height: calc(100vh - 225px);
  }

  &__createdByField {
    margin-left: 8px;
    color: var(--config-compare-created-by-color);
  }
}
