:host {
  display: block;
  margin: 0 -20px;

  &:nth-child(odd) {
    background-color: #4e4e4e;
  }

  &.alone {
    margin: 0 !important;
  }

  &.read-only {
    background-color: #484848;
    font-style: italic;
    color: #a7a7a7;
  }

  &>.read-only {
    background-color: #484848;
    font-style: italic;
    color: #a7a7a7;
    padding: 0 20px;
    margin: 0 -20px;
  }

  &:not(.alone) {
    padding: 0 20px;
  }
}

.field-group {
  display: flex;
  align-items: center;
}

.compare-list-container {
  .compare-list {
    .label {
      margin: 0 10px;
    }
  }
}