*/.git*
*@tmp/
.dockerignore
.git*
.git/
.pytest_cache
Dockerfile*
Jenkinsfile
Makefile
README.md
allure-*/
build-adcm.sh
ui-tests.sh
func-tests.sh
data/
docs_adcm/
go/Makefile
go/pkg/
go/src/
html/
latex/
make_html.sh
make_pdf.sh
pdf/
pylintrc
requirements-test.txt
runserver.sh
server.sh
tests/
var/cluster.db
web
!web/build_static.sh
