*.egg-info/
*.pyc
*.pytest_cache/
*.retry
*.tar.gz
.cache
.coverage
.idea/
.venv
.version
.vscode
config.json
/allure-results/
/cluster.db
/coverage.xml
/data/download/adb.2.5.tar
/data/download/ssh.1.0.tar
/go/bin
/go/pkg
/go/src/github.com
/html/
/latex/
/log/
/pdf/
/reports/*
/run/
/tests/data/log
/tests/db_test.db
/tests/fixture.db
/web/node_modules/
/web/yarn.lock
/web/src/assets/config.json
/wwwroot
