/adcm-web/ @v.remizov @npp @i.kuzmin @v.paskov @d.bardin @k.fedorenko @a.latunov
/data/ @arenadata/teams/python/adcm
/conf/ @arenadata/teams/python/adcm
/go/ @arenadata/teams/python/adcm
/os/ @arenadata/teams/python/adcm
/python/ @arenadata/teams/python/adcm
/spec/ @arenadata/teams/python/adcm
.dockerignore @v.remizov @arenadata/teams/python/adcm
.gitignore @v.remizov @d.bardin @arenadata/teams/python/adcm
.gitlab-ci.yaml @v.remizov @arenadata/teams/python/adcm
.pre-commit-config.yaml @v.remizov @d.bardin @k.fedorenko @arenadata/teams/python/adcm
CODEOWNERS @v.remizov @arenadata/teams/python/adcm
COPYRIGHT @v.remizov @arenadata/teams/python/adcm
Dockerfile @v.remizov @arenadata/teams/python/adcm
LICENSE @v.remizov @arenadata/teams/python/adcm
license_checker.py @arenadata/teams/python/adcm
Makefile @arenadata/teams/python/adcm
poetry.lock  @arenadata/teams/python/adcm
pyproject.toml @arenadata/teams/python/adcm
README.md @v.remizov @d.bardin @k.fedorenko @arenadata/teams/python/adcm
