/data/ @aas @d.skrynnik @tsd
/conf/ @aas @d.skrynnik @tsd @a.starovoitov
/go/ @aas @d.skrynnik @tsd @aer
/os/ @aas @d.skrynnik @tsd
/python/ @aas @d.skrynnik @tsd @a.starovoitov
/spec/ @aas @d.skrynnik @tsd
/web/ @v.remizov @d.bardin @k.fedorenko
.dockerignore @aas @v.remizov
.gitignore @aas @d.skrynnik @tsd @v.remizov @d.bardin @k.fedorenko
.gitlab-ci.yaml @aas @v.remizov
.pre-commit-config.yaml @aas @d.skrynnik @tsd @v.remizov @d.bardin @k.fedorenko
CODEOWNERS @aas @v.remizov @tsd
COPYRIGHT @aas @v.remizov
Dockerfile @aas @v.remizov
LICENSE @aas @v.remizov
license_checker.py @aas
Makefile @aas @d.skrynnik @tsd
pyproject.toml @aas @d.skrynnik @tsd
README.md @aas @d.skrynnik @tsd @v.remizov @d.bardin @k.fedorenko @a.starovoitov
