--extra-index-url https://ci.arenadata.io/artifactory/api/pypi/python-packages/simple
adcm_client>=adcm_client-2022.4.25.15
adcm-pytest-plugin~=4.17
attr
allure-pytest
docker
jsonschema
pylint_runner
pytest
pytest-lazy-fixture
pytest-xdist
pytest-rerunfailures
pytest-timeout
pytest-check
pyyaml
requests
requests-toolbelt
selenium~=3.141.0
multipledispatch
rstr
genson
