apache-libcloud
attr
casestyle
coreapi
Django~=3.0
django-auth-ldap
django-cors-headers
django-filter
django-guardian
djangorestframework
drf-extensions
drf-flex-fields
drf-yasg
googleapis-common-protos
grpcio
jinja2==2.11.3
jmespath
jsonschema
lxml
markupsafe==1.1.1
mitogen
multipledispatch
psycopg2-binary
pycryptodome
requests-toolbelt
rstr
ruyaml
social-auth-app-django
uwsgi
version-utils
yspec
