--extra-index-url https://ci.arenadata.io/artifactory/api/pypi/python-packages/simple
adcm-client==2021.6.11.12.dev0+adcm.1785
adcm_pytest_plugin>=3.0.0
allure-pytest
delayed_assert
docker
jsonschema
pytest
pytest-lazy-fixture
pytest-xdist
pytest-rerunfailures
pytest-timeout
pyyaml
requests
selenium
