- name: first_stage
  display_name: "First stage"
  steps:
    - name: stage1_step1
      display_name: "Stage1.Step1"
      config_template:
        file:
          path: wizard_jinja/steps/s1_config.j2
        engine:
          type: jinja2
- name: hc_apply
  display_name: "HC Apply stage"
  steps:
    - name: hc_apply
      display_name: "hc apply"
      ui_options:
        button_name: "go"
      scripts_template:
        file:
          path: wizard_jinja/steps/hc_apply.j2
        engine:
          type: jinja2
