<adwp-input [form]="form" controlName="name" label="Policy name"></adwp-input>
<adwp-input [form]="form" controlName="description" label="Description"></adwp-input>
<!--      <adwp-input-select [form]="step1" [multiple]="false" label="Role" controlName="role" [options]="options"></adwp-input-select>-->
<!--      <adwp-input-select [form]="step1" label="User" controlName="user" [options]="options"></adwp-input-select>-->
<!--      <adwp-input-select [form]="step1" label="Group" controlName="group" [options]="options"></adwp-input-select>-->
