:host {
  flex: 1;
}

.multi-title {
  cursor: pointer;
}

.mat-icon {
  vertical-align: middle;
  font-size: 1.2em;
  width: auto;
  height: auto;
}

table.main {
  width: 100%;

  & .first-child {
    width: 20px;
    padding-right: 10px;
  }
}

.action_date {
  width: 200px;
}

.padding20 {
  padding-right: 20px;
}

.parent-end {
  width: 84px;
}

.end {
  width: 40px;
  padding-left: 30px !important;
}

.center {
  text-align: center;
}

table.inner {
  width: 100%;
  margin-bottom: 10px;

  & tr:last-child td {
    border-bottom-width: 0;
  }
}

td.mat-cell,
th.mat-header-cell {
  white-space: nowrap;
  padding: 0 10px;
}

tr.jobs-row {
  height: 0;
}

.expand-jobs {
  overflow: hidden;
  padding: 0 12px;
}
