<mat-toolbar class="toolbar">
  <app-crumbs [navigation]="[{ url: '/task', title: 'jobs' }]"></app-crumbs>

  <mat-button-toggle-group
    name="jobsFilter"
    [value]="status"
    aria-label="Jobs filter"
    class="toggle"
    (change)="filterChanged($event)"
  >
    <mat-button-toggle value="">All</mat-button-toggle>
    <mat-button-toggle value="running">In progress</mat-button-toggle>
    <mat-button-toggle value="success">Success</mat-button-toggle>
    <mat-button-toggle value="failed">Failed</mat-button-toggle>
  </mat-button-toggle-group>

</mat-toolbar>
<div class="container-entry">
  <div class="main">

    <adwp-list
      class="regular-table"
      [columns]="listColumns"
      [dataSource]="data$ | async"
      [expandedRow]="JobsComponent"
      [expandedRowInstanceTaken]="jobsTableInstanceTaken"
      [paging]="paging | async"
      (changePaging)="paging.next($event)"
      expandedRowClassName="expandedRow"
    ></adwp-list>

  </div>
</div>
