:host {
  flex: 1;
}

.multi-title {
  cursor: pointer;
}

.mat-icon {
  vertical-align: middle;
  font-size: 1.2em;
  width: auto;
  height: auto;
}

table.main {
  width: 100%;
}

:host ::ng-deep .first-child {
  width: 20px;
  padding-right: 10px;
  flex-grow: 0;
  flex-basis: 20px;
}

:host ::ng-deep .action_date {
  width: 200px;
  flex-basis: 200px;
  flex-grow: 0;
}

:host ::ng-deep .regular-table {
  mat-row:not(:hover) {
    background-color: #303030 !important;
  }
  mat-cell {
    cursor: auto;
  }
  adwp-link-cell {
    cursor: pointer;
  }
}

:host ::ng-deep .expandedRow > mat-cell {
  padding: 0;
}

.padding20 {
  padding-right: 20px;
}

:host ::ng-deep .parent-end {
  width: 84px;
  flex-basis: 84px;
  flex-grow: 0;
}

:host ::ng-deep .table-end {
  width: 50px;
  flex-basis: 50px;
  flex-grow: 0;
}

.end {
  width: 40px;
  padding-left: 30px !important;
}

:host ::ng-deep .center {
  text-align: center;
}

:host ::ng-deep .status {
  display: flex;
  justify-content: center;
}

table.inner {
  width: 100%;
  margin-bottom: 10px;

  & tr:last-child td {
    border-bottom-width: 0;
  }
}

td.mat-cell,
th.mat-header-cell {
  white-space: nowrap;
  padding: 0 10px;
}

tr.jobs-row {
  height: 0;
}

.expand-jobs {
  overflow: hidden;
  padding: 0 12px;
}

.toggle {
  font-size: small;
}

:host ::ng-deep .toggle .mat-button-toggle-label-content {
  line-height: 36px;
}
