<mat-toolbar class="toolbar">
  <app-crumbs [navigation]="[{ url: '/task', title: 'jobs' }]"></app-crumbs>
</mat-toolbar>
<div class="container-entry">
  <div class="main">

    <adwp-list
      class="regular-table"
      [columns]="listColumns"
      [dataSource]="data$ | async"
      [expandedRow]="JobsComponent"
      [expandedRowInstanceTaken]="jobsTableInstanceTaken"
      [paging]="paging | async"
      (changePaging)="paging.next($event)"
      expandedRowClassName="expandedRow"
    ></adwp-list>

  </div>
</div>
