<mat-toolbar class="toolbar">
  <app-crumbs [navigation]="[{ path: '/task', name: 'jobs' }]"></app-crumbs>
</mat-toolbar>
<div class="container-entry">
  <div class="main">

    <table mat-table class="main" [dataSource]="dataSource" multiTemplateDataRows [trackBy]="trackBy" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="first-child">#</th>
        <td mat-cell *matCellDef="let row">
          {{ row.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Action name</th>
        <td mat-cell *matCellDef="let element" class="title">
          <a *ngIf="element.jobs.length === 1; else multi" [routerLink]="['/job', element.jobs[0].id]">
            {{ element.action?.display_name || 'Object has been deleted' }}
          </a>
          <ng-template #multi>
            <div class="multi-title" (click)="expandedTask = expandedTask === element ? null : element">
              <span>{{ element.action?.display_name || 'Object has been deleted' }}</span>
              &nbsp;
              <mat-icon>{{ expandedTask?.id === element.id ? 'expand_less' : 'expand_more' }}</mat-icon>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="objects">
        <th mat-header-cell *matHeaderCellDef>Objects</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.action">
            <ng-container *ngFor="let obj of buildLink(row.objects); index as i; last as lastElement">
              <a [routerLink]="obj.url">{{ obj.name }}</a>
              <span *ngIf="!lastElement"> / </span>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef class="action_date">Start date</th>
        <td mat-cell *matCellDef="let element">{{ element.start_date | date: 'medium' }}</td>
      </ng-container>

      <ng-container matColumnDef="finish_date">
        <th mat-header-cell *matHeaderCellDef class="action_date">Finish date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.status === 'success' || row.status === 'failed' ? (row.finish_date | date: 'medium') : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="parent-end center">Status</th>
        <td mat-cell *matCellDef="let row" class="center">
          <ng-container *ngIf="row.status === 'running'; else done">
            <button appHoverStatusTask mat-raised-button [style.minWidth]="'auto'"
              *ngIf="row.terminatable; else iconStatus" (click)="cancelTask(row.cancel)" matTooltip="Stop task">
              <mat-icon class="icon-locked running" #taskIcon>autorenew</mat-icon>
            </button>
            <ng-template #iconStatus>
              <mat-icon class="icon-locked running">autorenew</mat-icon>
            </ng-template>
          </ng-container>
          <ng-template #done>
            <span [class]="row.status" [matTooltip]="row.status">
              <mat-icon>{{ getIcon(row.status) }}</mat-icon>
            </span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="expand-jobs" [@.disabled]="isDisabled"
            [@jobsExpand]="element.id === expandedTask?.id ? 'expanded' : 'collapsed'">

            <app-task-inner [dataSource]="element.jobs"></app-task-inner>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay" style="background-color: #303030;"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="jobs-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" (page)="pageHandler($event)"></mat-paginator>
  </div>
</div>
