- service: service_with_one_odd_component_constraint_1
  component: one_odd_first_variant
  operation: add
- service: service_with_one_odd_component_constraint_1
  component: one_odd_first_variant
  operation: remove