:global {
  body.theme-dark {
    --component-container-valid-color: var(--color-xgreen-saturated);
    --component-container-valid-text-color: var(--color-xgreen-saturated);
    --component-container-error-color: var(--color-xred);
    --component-container-disabled-color: var(--color-xdark-plate20);
  }

  body.theme-light {
    --component-container-valid-color: var(--color-xgreen-saturated);
    --component-container-valid-text-color: var(--color-xgreen);
    --component-container-error-color: var(--color-xred-light);
    --component-container-disabled-color: var(--color-xdark-plate20);
  }
}

.clusterMapping {
  margin-top: 40px;
  margin-bottom: 40px;
}
