<ng-container *ngIf="model?.upgrades?.length === 0">
  <p>No data for the upgrades!</p>
</ng-container>

<ng-container *ngIf="!upgrade; else simple">
  <em>Let's choose first</em>
  <mat-action-list>
    <button class="action-button warn" color="primary" mat-list-item *ngFor="let upgrade of model.upgrades"
      (click)="choose(upgrade)">{{ upgrade.name }}</button>
  </mat-action-list>
  <p><button mat-raised-button (click)="cancel()" color="primary">Cancel</button></p>
</ng-container>

<ng-template #simple>
  <div *ngIf="show === 'none'">
    <ng-container *ngTemplateOutlet="controls; context: { value: undefined }"></ng-container>
  </div>

  <div *ngIf="show === 'config'">
    <app-upgrade-master-config [upgrade]="upgrade" #wc></app-upgrade-master-config>
    <ng-container *ngTemplateOutlet="controls; context: { value: { config: wc.fields } }"></ng-container>
  </div>

  <div *ngIf="show === 'hostmap'">
    <app-service-host [tabIndex]="2" [cluster]="model.cluster" [hideButton]="true" #hostmap
      [actionParameters]="upgrade.hostcomponentmap" [fixedButton]="false"></app-service-host>
    <ng-container *ngTemplateOutlet="controls; context: { value: { hostmap: hostmap } }"></ng-container>
  </div>

  <mat-horizontal-stepper #stepper linear *ngIf="show === 'stepper'">
    <mat-step [stepControl]="wcs?.fields?.form">
      <ng-template matStepLabel>Configuration</ng-template>
      <app-upgrade-master-config [upgrade]="upgrade" #wcs></app-upgrade-master-config>
      <div class="controls-container" [class.margin]="needMargin()">
        <mat-checkbox [(ngModel)]="verbose">Verbose</mat-checkbox>
        <div class="controls">
          <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Host Components</ng-template>
      <app-service-host [tabIndex]="2" [cluster]="model.cluster" #hms [hideButton]="true"
        [actionParameters]="upgrade.hostcomponentmap" [fixedButton]="false"></app-service-host>
      <ng-container *ngTemplateOutlet="controls; context: { value: { config: wcs.fields, hostmap: hms } }">
      </ng-container>
    </mat-step>
    <mat-step label="Done"></mat-step>
  </mat-horizontal-stepper>

</ng-template>

<ng-template #controls let-value="value">
  <div class="controls-container" [class.margin]="needMargin()">

    <mat-checkbox [(ngModel)]="verbose">Verbose</mat-checkbox>

    <div class="controls">
      <ng-container *ngIf="model['upgradable']">
        <button mat-raised-button color="primary" (click)="upgrade = null">Back</button>
        <span [style.flex]="1"></span>
      </ng-container>

      <button mat-raised-button (click)="cancel()" color="primary" tabindex="-1">Cancel</button>
      <button mat-raised-button #runBtn (click)="run(value)" color="accent" [disabled]="isDisabled(value)" tabindex="1">Run</button>
    </div>

  </div>
</ng-template>
