:global {
  body.theme-dark {
    // default
    --job-node-border-default: var(--color-xdark);

    // failed
    --job-node-border-error: var(--color-dark-red);
  }

  body.theme-light {
    // default
    --job-node-border-default: var(--color-xgray-lighter);

    // failed
    --job-node-border-error: var(--color-xred-light);
  }
}

.jobLogCheck {
  margin: 32px 0;

  &__collapseNode {
    --job-node-border: var(--job-node-border-default);
    // borders
    --collapse-node-parent-border-color: var(--job-node-border-default);
    --collapse-node-child-border-color: var(--job-node-border);

    &_failed {
      --job-node-border: var(--job-node-border-error);
    }

    & > div {
      width: auto;
    }
  }
}
