.profilePage {
  margin-top: 68px;
}

.profilePageInformation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profilePagePassword {
  max-width: 560px;
}

.profilePageConfirmPassword {
  margin-top: 84px;
}

.buttonChangePassword {
  margin-top: 68px;
}
