.configGroupSingleHeader {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.configGroupSingleHeader__top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.configGroupSingleHeader__descriptionText {
  color: var(--text-accent-color);
}
