:global {
  body.theme-dark {
    --maintenanceModeButton-on-color: var(--color-xred);
    --maintenanceModeButton-pending-color: var(--color-orangex);
    --maintenanceModeButton-unavailable-color: var(--icon-button-color-disabled-primary);
  }

  body.theme-light {
    --maintenanceModeButton-on-color: var(--color-xred-light);
    --maintenanceModeButton-pending-color: var(--color-json-orange);
    --maintenanceModeButton-unavailable-color: var(--icon-button-color-disabled-primary);
  }
}

.maintenanceModeButton {
  &_on {
    svg {
      color: var(--maintenanceModeButton-on-color);
    }
  }

  &_pending {
    svg {
      color: var(--maintenanceModeButton-pending-color);
    }
  }

  &_unavailable {
    cursor: not-allowed;
    svg {
      color: var(--maintenanceModeButton-unavailable-color);
    }
  }
}
