- name: stage_constraint_one_odd_second_variant
  display_name: Stage constraint one odd second variant
  steps:
    - name: step_constraint_one_odd_second_variant
      display_name: step_constraint_one_odd_second_variant
      hc_template:
        file:
          path: stages/constraint_one_odd_second_variant/step.j2
        engine:
          type: jinja2