- service: service_with_one_odd_component_constraint_2
  component: one_odd_second_variant
  operation: add
- service: service_with_one_odd_component_constraint_2
  component: one_odd_second_variant
  operation: remove