- name: stage_constraint_zero_odd
  display_name: Stage constraint zero odd
  steps:
    - name: step_constraint_zero_odd
      display_name: step_constraint_zero_odd
      hc_template:
        file:
          path: stages/constraint_zero_odd/step.j2
        engine:
          type: jinja2