<h3 *ngIf="(cluster$ | async) as cluster">
  {{ cluster.name | uppercase }}</h3>
<table>
  <tr *ngFor="let prop of props$ | async; let odd=odd;" [class.odd]="odd">
    <td style="vertical-align: top">
      <button mat-button class="title" color="accent" (click)="_value(prop)">{{ prop.key }}</button>
    </td>
    <td>
      <ng-container *ngIf="prop.value$ | async as prop">
        <ng-container *ngIf="prop.length">
          <div class="item-value" *ngFor="let inner of prop">{{ inner | json }}</div>
        </ng-container>
      </ng-container>
    </td>
  </tr>
</table>
