.item { cursor: pointer; line-height: 32px; vertical-align: text-top; }
.title { flex-basis: 120px; }
.item-value {
    border: solid 1px #cccccc;
    margin-bottom: 3px;
    padding: 6px;
}

table { border-collapse: separate; width: 100%; }
table td {padding: 4px;}

.odd {
    background-color: #545454;
}