:global {
  body.theme-dark {
    --theme-switcher-btn-border-active: var(--color-xdark);
    --theme-switcher-btn-background-active: var(--color-new-light);
    --theme-switcher-btn-color-active: var(--color-xgreen-saturated);
  }

  body.theme-light {
    --theme-switcher-btn-border-active: var(--color-stroke-light);
    --theme-switcher-btn-background-active: var(--color-background-light);
    --theme-switcher-btn-color-active: var(--color-xgreen);
  }
}

:global(body.theme-dark) .themeSwitcher__moon {
  --theme-switcher-btn-border: var(--color-xdark);
  --theme-switcher-btn-background: var(--color-new-light);
}


.themeSwitcher {
  display: inline-flex;
  gap: 4px;

  &__btn {
    display: inline-flex;
    transition: color 250ms;
    border-radius: 7px;
    padding: 1px;
    border: 1px solid transparent;
    background: transparent;
    color: var(--text-default-color);

    &:hover {
      color: var(--theme-switcher-btn-color-active);
    }

    &:global(.is-active) {
      border-color: var(--theme-switcher-btn-border-active);
      background: var(--theme-switcher-btn-background-active);
      color: var(--theme-switcher-btn-color-active);
    }

    &:global(:not(.is-active)) {
      cursor: pointer;
    }
  }
}
