div.m2m {
  border: solid 1px rgb(238, 236, 236);
  margin-bottom: 8px;
  padding: 8px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  &.selected {
    border-color: #76FF03;

    .title-container {
      .title {
        font-weight: bolder;
        color: #76FF03;
      }
    }
  }

  &.linked {
    border-color: #18FFFF;

    .title-container {
      .title {
        font-weight: bolder;
        color: #18FFFF;
      }
    }

  }

  & .title-container {
    display: flex;

    & .title {
      flex: 1;
      line-height: 40px;
      font-size: 18px;
      width: 1px;
      overflow: hidden;
      text-overflow: ellipsis;

      mat-icon {
        vertical-align: middle;
        line-height: .9
      }
    }

    & .relations-count {
      box-shadow: none;
      background-color: #e4f9ef;
      margin-left: 8px;
    }
  }

  & .relations-list {
    padding: 4px 40px;
    display: none;

    & div {
      display: flex;

      & span {
        font-size: 14px;
        font-weight: 500;
        flex: 1 0 auto;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 1px;
      }

      & button {
        flex: 0 1 auto;
      }
    }
  }

  & .notification {
    display: none;
  }

  & .show {
    display: block;
  }
}



.mat-mini-fab[disabled][disabled] {
  color: rgba(0, 0, 0, 0.4);
}
