<div class="controls">
  <app-add-button class="add-button" [dialogConfig]="dialogConfig" [component]="component">
    Add new {{ type }}
  </app-add-button>
  <button mat-raised-button color="primary" (click)="deleteEntities()" [disabled]="!(data$ | async | hasSelected)">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
</div>

<app-server-filter [filterList]="userFilters" [filterParams$]="filterParams$" [entity]="type"></app-server-filter>

<adwp-list
  [columns]="listColumns"
  [dataSource]="data$ | async"
  [paging]="paging | async"
  [sort]="sorting | async"
  [defaultSort]="defaultSort"
  [isRowInactiveHandler]="isRowInactive"
  (clickRow)="clickRow($event)"
  (auxclickRow)="auxclickRow($event)"
  (changePaging)="onChangePaging($event)"
  (changeSort)="onChangeSort($event)"
  (chooseAll)="chooseAll($event)"
></adwp-list>
