{% raw %}
- service: service_1
  component: component_1
  operation: add
- service: service_1
  component: component_1
  operation: remove
- service: service_2
  component: component_1
  operation: add
{% endraw %}