:host {
  width: 100%;
}

adwp-table {
  width: 100%;
}

:host adwp-table ::ng-deep mat-table {
  width: 100%;
}

:host ::ng-deep .action_date {
  width: 200px;
  flex-basis: 200px;
  flex-grow: 0;
}

:host ::ng-deep .padding20 {
  padding-right: 20px;
}

:host ::ng-deep .table-end {
  width: 50px;
  flex-basis: 50px;
  flex-grow: 0;
  padding-right: 78px;
}

:host ::ng-deep .center {
  text-align: center;
}

:host ::ng-deep .status {
  display: flex;
  justify-content: center;
}
