.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;

  cursor: pointer;
  position: relative;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.8;
  }
  75% {
    transform: rotate(270deg);
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.animation {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: conic-gradient(#fff, #262d37);
  animation-duration: 0.7s;
  animation-timing-function: linear;
}

.animated {
  animation-name: spinner;
}

.hide {
  opacity: 0;
}

.insider {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #262d37;
  top: 7px;
  left: 7px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}
