:global {
  body.theme-dark {
    --steps-panel-background: var(--color-xdark-new-20);
    --step-number-background: var(--color-xdark);
    --step-number-text: var(--color-xwhite-off);
    --step-text-valid: var(--color-xgreen-saturated);
  }

  body.theme-light {
    --steps-panel-background: var(--color-xgray-alt-30);
    --step-number-background: var(--color-popup-light);
    --step-number-text: var(--color-stroke-light);
    --step-text-valid: var(--color-xgreen-saturated);
  }
}

.policyFormDialogWizard {
  .stepsPanel {
    padding: 12px;
    border-radius: 12px;
    background: var(--steps-panel-background);
    margin-bottom: 16px;

    &__stepButton {
      &_valid {
        color: var(--step-text-valid) !important;
      }
  
      span {
        display: inline-flex;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--step-number-background);
        margin-right: 6px;
        line-height: 20px;
      }
    }
  }
}
