:global {
  body.theme-dark {
    --cluster-mapping-input-background: var(--color-xblack);
  }

  body.theme-light {
    --cluster-mapping-input-background: var(--color-xwhite);
  }
}

.clusterMappingToolbar {
  gap: 40px;
  margin-bottom: 24px;
  top: 0;
  position: sticky;
  backdrop-filter: blur(7px);

  &__inputAndSwitches {
    width: 100%;
    gap: 20px;
    display: flex;
  }

  &__searchInput {
    background: var(--cluster-mapping-input-background);
    flex: 1;
  }

  &__sortIconWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__sortIcon {
    &_desc {
      transform: rotate(180deg);
    }
  }
}
