:global {
  body.theme-dark {
    --cluster-mapping-toolbar-background: var(--color-xdark-new-20);
  }

  body.theme-light {
    --cluster-mapping-toolbar-background: var(--color-xgray-alt-30);
  }
}

.clusterMappingToolbar {
  gap: 40px;
  margin-bottom: 24px;

  &__inputAndSwitches {
    width: 100%;
    gap: 20px;
    display: flex;
  }

  &__searchInput {
    flex: 1;
  }
}
