:global {
  body.theme-dark {
    --restrictions-list-background: rgba(39, 38, 43, 0.30);
    --restrictions-list-header-color: var(--color-xwhite-off);
  }

  body.theme-light {
    --restrictions-list-background: rgba(227, 234, 238, 0.30);
    --restrictions-list-header-color: var(--color-xdark);
  }
}

.restrictionsList {
  max-height: calc(100vh - 353px);
  overflow-y: hidden;
  background-color: var(--restrictions-list-background);
  padding: 16px 12px 12px 12px;
  border-radius: 10px; 
  display: flex;
  gap: 16px;
  flex-direction: column;

  &__header {
    color: var(--restrictions-list-header-color);
    font-size: 15px;
    font-weight: 500;
  }

  &__content {
    max-height: 100%;
    overflow-y: scroll;
    padding-right: 8px;
  }
}
