:host {
  margin-bottom: 10px;
  flex-direction: column;

  .tools {
    align-self: flex-end;
  }

  & div.item {
    width: 100%;
    display: flex;
    align-items: baseline;

    & .key-field {
      flex: 0 1 50%;
      margin-right: 10px;
    }

    & .value-field {
      flex: 1 0 50%;
    }
  }

  .error {
    font-size: 75%;
  }
}
