<div class="adcm-input-rbac-permissions">
  <div class="row" [formGroup]="form">

    <mat-form-field class="adcm-input-rbac-permissions__selected-field" appearance="outline">

      <mat-label>{{ label }}</mat-label>

      <mat-chip-list class="adcm-input-rbac-permissions__selected-control" aria-label="Select permissions" multiple
                     #chipList formControlName="{{ controlName }}"
                     [selectable]="false" [placeholder]="label">

        <div class="adcm-input-rbac-permissions__selected-filter">
          <input #chipListInput [matChipInputFor]="chipList"
                 [placeholder]="chipList.chips?.length ? 'Filter selected permissions...' : 'Select permissions...'"
                 [disabled]="!form.controls[controlName].value?.length">
          <button class="adcm-input-rbac-permissions__selected-clear"
                  mat-flat-button
                  [style.display]="chipListInput.value?.length ? 'block' : 'none'"
                  (click)="chipListInput.value = ''">Clear filter
          </button>
          <button class="adcm-input-rbac-permissions__selected-filter-clear" mat-icon-button
                  appTooltip="Clear all selected permissions"
                  (click)="form.controls[controlName].reset([])">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="selectedPermissions | falseAsEmptyArray | adwpFilter:matcher:chipListInput.value:nameHandler as selected">
          <ng-container *ngIf="!!selectedPermissions?.length && !selected?.length">
            <span class="warn">Nothing found</span>
          </ng-container>
          <mat-chip class="adcm-input-rbac-permissions__selected-permission"
                    *ngFor="let item of selected"
                    removable disableRipple [selectable]="true" [value]="item" [selected]="true"
                    (removed)="removeSelectedPermission(item)">

            {{ item | adwpMapper:nameHandler }}

            <button class="adcm-input-rbac-permissions__selected-permission-remove"
                    mat-icon-button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>


      </mat-chip-list>
    </mat-form-field>

  </div>
  <div class="row">
    <div class="adcm-input-rbac-permissions__permission-form-wrapper">
      <ng-content select="app-rbac-permission-form"></ng-content>
    </div>
  </div>
</div>

