mat-form-field {
  width: 100%;
}

.adcm-role-permissions {
  &__filter {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;

    ::ng-deep {
      input.mat-chip-input {
        width: 100%;
        margin: 0;
        flex: 1;
      }
    }
  }

  &__clear_value {
    margin-left: auto;
  }

  ::ng-deep {
    .mat-chip-list-wrapper {
      height: 250px;
      overflow-y: auto;
      align-items: start;
      align-content: flex-start;


      mat-chip {
        min-height: 28px;
        font-size: 12px;
        border-radius: 4px;
        padding: 4px 8px;
        button {
          width: 20px;
          height: 20px;
          line-height: 20px;

          mat-icon {
            line-height: 20px;
          }
        }
      }
    }

  }
}
