<div class="row" [formGroup]="form">

  <mat-form-field appearance="outline" (click)="$event.stopImmediatePropagation();open = true;">

    <mat-label>{{ label }}</mat-label>

    <mat-chip-list class="adcm-role-permissions" aria-label="Select permissions" multiple
                   #chipList formControlName="{{ controlName }}"
                   [selectable]="false" [placeholder]="label"
                   [adwpDropdown]="open" [adwpDropdownContent]="dropdownContent"
    >

      <div class="adcm-role-permissions__filter">
        <input #chipListInput [matChipInputFor]="chipList"
               [placeholder]="chipList.chips?.length ? 'Filter selected permissions...' : 'Select permissions...'"
               [disabled]="!form.controls[controlName].value?.length"
               (focus)="$event.stopPropagation();open = true;">
        <button class="adcm-role-permissions__clear-filter"
                mat-flat-button
                [style.display]="chipListInput.value?.length ? 'block' : 'none'"
                (click)="chipListInput.value = ''"
        >Clear filter</button>
        <button class="adcm-role-permissions__clear_value" mat-icon-button appTooltip="Clear all selected permissions"
                (click)="form.controls[controlName].reset([])"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>

      <mat-chip *ngFor="let item of selectedPermissions | adwpFilter:matcher:chipListInput.value:nameHandler"
                removable disableRipple [selectable]="true" [value]="item" [selected]="true"
                (removed)="removeSelectedPermission(item)"
      >

        {{ item | adwpMapper:nameHandler }}

        <button mat-icon-button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>

    </mat-chip-list>
    <mat-hint>Click to select</mat-hint>
  </mat-form-field>

  <ng-template #dropdownContent>
    <div (adwpClickOutside)="open = !open">
      <ng-content select="app-rbac-permission-form"></ng-content>
    </div>
  </ng-template>

</div>
