.adcm-input-rbac-permissions {

  &__selected-field {
    width: 100%;
  }

  &__selected-control {
    ::ng-deep {
      .mat-chip-list-wrapper {
        height: 110px;
        overflow-y: auto;
        align-items: start;
        align-content: flex-start;
      }
    }
  }

  &__selected-filter {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;

    ::ng-deep {
      input.mat-chip-input {
        width: 100%;
        margin: 0;
        flex: 1;
      }
    }
  }

  &__selected-clear {
    margin-left: auto;
  }

  &__selected-filter-clear {

  }

  &__selected-permission {
    min-height: 28px;
    font-size: 12px;
    border-radius: 4px;
    padding: 4px 8px;

    &:after {
      background-color: red;
    }
  }

  &__selected-permission-remove.mat-chip-remove {
    width: 20px;
    height: 20px;
    line-height: 20px;

    ::ng-deep {
      mat-icon {
        line-height: 20px;
      }
    }
  }

  &__permission-form-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;

    ::ng-deep > * {
      display: flex;
      width: 100%;
      flex: 1;
      overflow: hidden;
      height: 260px;
    }
  }

}
