-

  type: adcm
  name: ADCM
  version: 1.7

  config:
    - name: "global"
      display_name: "Global Options"
      type: "group"
      subs:
        - name: "adcm_url"
          display_name: "ADCM's URL"
          description: |
            We have to know ADCM's Url to send information from host. We try to gues that information from url you enter in browser.
            But if your network has more complicated structure and we gues wrong, please fix that here.
          type: string
    - name: "google_oauth"
      display_name: "Google Auth"
      type: "group"
      subs:
        - name: "client_id"
          type: string
          required: false
        - name: "secret"
          type: password
          required: false
          ui_options:
            no_confirm: true
        - name: "whitelisted_domains"
          type: list
          required: false
    - name: "job_log"
      display_name: "Job Log"
      type: "group"
      subs:
        - name: "log_rotation_on_fs"
          display_name: "Log rotation from file system"
          type: integer
          required: false
          default: 365
          min: 0
          description: |
            You can set the time (number of days) after which the logs will be deleted from the file system.
        - name: "log_rotation_in_db"
          display_name: "Log rotation from database"
          type: integer
          required: false
          default: 365
          min: 0
          description: |
            You can set the time (number of days) after which the logs will be deleted from the database.
    - name: "ansible_settings"
      display_name: "Ansible Settings"
      type: "group"
      subs:
        - name: "mitogen"
          display_name: "Use Mitogen"
          description: |
            Mitogen for Ansible is a completely redesigned UNIX connection layer and module runtime for Ansible.
          type: boolean
          ui_options:
            invisible: true
          default: false
        - name: "forks"
          display_name: "Forks"
          description: |
            This is the default number of parallel processes to spawn when communicating with remote hosts.
          type: integer
          default: 5
          min: 1
          max: 100
    - name: "logrotate"
      display_name: "Nginx Server Logrotate"
      type: "group"
      activatable: true
      subs:
        - name: size
          display_name: "Max file size"
          description: |
            Specifies the allowed size (in Mb) the log file can reach before it is archived
          type: integer
          default: 10
          min: 1
        - name: max_history
          display_name: "Max files history"
          description: |
            Controls the maximum number of archive files to keep
          type: integer
          default: 10
          min: 1
        - name: compress
          display_name: "Enable compression"
          description: |
            Compress the rotated files
          type: boolean
          default: false
    - name: "config_rotation"
      display_name: "Configuration rotation"
      description: |
        You can enable Clusters/Services/Components configurations deleting mechanism.
      type: "group"
      subs:
        - name: "config_rotation_in_db"
          display_name: "Objects configurations rotation period"
          type: integer
          required: false
          default: 365
          min: 0
          description: |
            You can set the time (number of days) after which the Objects configuration will be deleted from the database.
    - name: "ldap_integration"
      display_name: "LDAP integration"
      type: "group"
      activatable: true
      active: false
      subs:
        - name: "ldap_uri"
          display_name: "LDAP URI"
          description: |
            The URI of the LDAP server.
          type: string
        - name: "ldap_user"
          display_name: "LDAP User"
          description: |
            The distinguished name (DN) of the user that is used to connect to the LDAP server. For example: "cn=admin,dc=ad,dc=ranger-test".
          type: string
        - name: "ldap_password"
          display_name: "LDAP Password"
          description: |
            Password for access to the LDAP server of the user specified in the "LDAP User" field.
          type: string  # TODO: password
        - name: "user_search_base"
          display_name: "User search base"
          description: |
            The distinguished name (DN) of the directory object from which to search for entries. For example: "ou=Peoples,dc=ad,dc=ranger-test".
          type: string
        - name: "user_search_filter"
          display_name: "User search filter"
          description: |
            User attribute and its value for which the search is performed.
          type: string
          default: "sAMAccountName=%(user)s"
        - name: "group_search_base"
          display_name: "Group search base"
          description: |
            The distinguished name (DN) of the directory object from which to search for entries. For example: "ou=Groups,dc=ad,dc=ranger-test".
          type: string
        - name: "group_search_filter"
          display_name: "Group search filter"
          description: |
            Group attribute and its value for which the search is performed.
          type: string
        - name: "sync_interval"
          display_name: "Sync interval"
          description: |
            Amount of time in minutes that group memberships and user distinguished names are synchronized between AD and ADCM.
          type: integer
          default: 60
