<ng-container *ngIf="row.status === 'running'; else done">
  <button
    mat-raised-button
    appHoverStatusTask
    *ngIf="row.terminatable; else iconStatus"
    [style.minWidth]="'auto'"
    (click)="cancelTask(row.cancel)"
    matTooltip="Stop task"
  >
    <mat-icon class="icon-locked running" #taskIcon>autorenew</mat-icon>
  </button>
  <ng-template #iconStatus>
    <mat-icon class="icon-locked running">autorenew</mat-icon>
  </ng-template>
</ng-container>
<ng-template #done>
  <span [class]="row.status" [matTooltip]="row.status">
    <mat-icon *ngIf="row.status === 'aborted'; else defaultIcon">block</mat-icon>
    <ng-template #defaultIcon>
      <mat-icon>done_all</mat-icon>
    </ng-template>
  </span>
</ng-template>
