:global {
  body.theme-dark {
    --cluster-overview-loading-background-color: var(--color-xdark-new-20);
  }

  body.theme-light {
    --cluster-overview-loading-background-color: var(--color-xgray-alt-30);
  }
}

.clusterOverviewHosts {
  &__wrapper {
    display: flex;
  }

  &__hosts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 12px;
  }

  &__hostsContainer {
    margin-left: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 326px;
  }

  &__title {
    padding-right: 10px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: 100%;
    width: fit-content;
    white-space: nowrap;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
  }

  &__spinnerWrapper {
    text-align: center;
    width: 100%;
    background: var(--cluster-overview-loading-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 5;
    border-radius: 15px;
  }

  &__footer {
    margin-top: auto;
  }

  &__noData {
    margin-left: 40px;
  }
}
