.mainInfoPanel {
  :global(.marked-list) {
    margin-left: 18px;
  }

  p {
    margin: 0;

    &:not(:first-child) {
      margin-top: 1em;
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
