:global {
  body.theme-dark {
    --error-code-text-color: #212121;
  }
  body.theme-light {
    --error-code-text-color: var(--color-xgray-alt);
  }
}

.errorPageContent {
  position: relative;
  z-index: 1;
  &__errorCode {
    position: absolute;
    color: var(--error-code-text-color);
    right: 0;
    margin-top: 80px;
    font-size: 152px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    z-index: -1;
  }
}
