<mat-nav-list>
  <a mat-list-item
     *ngFor="let item of items"
     [routerLink]="[item.url]"
     routerLinkActive="active"
  >
    <span>{{ item.title }}</span>&nbsp;

<!--    <button mat-icon-button-->
<!--            *ngIf="item.action"-->
<!--            color="primary"-->
<!--            (click)="btnClick(item.action)"-->
<!--    >-->
<!--      <mat-icon>cloud_download</mat-icon>-->
<!--    </button>-->

<!--    <mat-icon *ngIf="item.issue" color="warn">priority_hight</mat-icon>-->

<!--    <mat-icon *ngIf="item.url === 'status'"-->
<!--              [color]="item.status === 0 ? 'accent' : 'warn'"-->
<!--    >-->
<!--      {{ item.status === 0 ? 'check_circle_outline' : 'error_outline' }}-->
<!--    </mat-icon>-->
  </a>
</mat-nav-list>
