body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.text-link {
  transition: color 250ms;
  &:hover {
    color: var(--color-xgreen) !important;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}