@import "./common/scroll";

body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background: var(--body-background);
  color: var(--text-default-color);

  &.theme-dark {
    --body-background: var(--color-xblack)
  }
  &.theme-light {
    --body-background: var(--color-xwhite-off)
  }
}

.text-link {
  transition: color 250ms;
  font-weight: 500;
  &:hover {
    color: var(--text-link) !important;
  }
  body.theme-dark & {
    --text-link: var(--color-xgreen-saturated)
  }
  body.theme-light & {
    --text-link: var(--color-xgreen)
  }
}

.green-text {
  body.theme-dark & {
    color: var(--color-xgreen-saturated);
  }
  body.theme-light & {
    color: var(--color-xgreen)
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
