# ansible==2.8.3
git+https://github.com/arenadata/ansible.git@v2.8.8-p4
coreapi
django
django-cors-headers
django-filter
django-rest-swagger
djangorestframework
drf-flex-fields==0.9.1
drf-extensions
django-background-tasks
social-auth-app-django
git+git://github.com/arenadata/django-generate-secret-key.git
# TODO jinja2 and markupsafe should be unpinned after https://arenadata.atlassian.net/browse/ADCM-2089 fixup
Jinja2==2.11.3
MarkupSafe==1.1.1
markdown
mitogen
pyyaml
ruyaml
toml
uwsgi
version_utils
ruyaml
yspec
# Custom bundle libs
apache-libcloud
jmespath
lxml
pycrypto
--extra-index-url https://ci.arenadata.io/artifactory/api/pypi/python-packages/simple
adwp-events==0.1.7
