.clusterActionHostGroupsTableExpandedContent {
  margin-top: 20px;

  &__tags {
    flex-direction: row;
    width: fit-content;
    margin: 16px 16px 0 0;

    div {
      width: fit-content;
      padding: 6px 12px;
    }
  }
}
