{
   "config":{
      "integer":100,
      "string":"string"
   },
   "name": "{{ object_name }}",
   "id": {{ id }},
   "version":"2.0",
   "edition":"community",
   "state":"success",
   "multi_state":[],
   "before_upgrade":{
      "state":"created",
      "config":{
         "integer":10,
         "password":"password",
         "string":"string",
         "list":[
            "value1",
            "value2",
            "value3"
         ]
      }
   }
}