{
   "host_1":{
      "adcm_hostid": {{ host_1_id }},
      "uuid": "{{ host_1_uuid }}",
      "multi_state":[],
      "state":"created"
   },
   "host_2":{
      "adcm_hostid": {{ host_2_id }},
      "uuid": "{{ host_2_uuid }}",
      "multi_state":[],
      "state":"created"
   }
}