{
  "config": {
    "integer": 10,
    "password": "password",
    "string": "string",
    "list": [
      "value1",
      "value2",
      "value3"
    ]
  },
  "name": "cluster_1",
  "id": {{ id }},
  "version": "1.0",
  "edition": "community",
  "state": "created",
  "multi_state": [],
  "before_upgrade": {
    "state": null
  }
}