{
  "adcm_hostid": {{ adcm_hostid }},
  "integer": {{ config_integer | default(10) }},
  "list": [
    "value1",
    "value2",
    "value3"
  ],
  "multi_state": [],
  "password": "password",
  "state": "created",
  "string": "string"
}
