{
  "integer": {{ config_integer | default(10) }},
  "password": "password",
  "string": "string",
  "list": [
    "value1",
    "value2",
    "value3"
  ],
  "adcm_hostid": {{ adcm_hostid }},
  "uuid": "{{ uuid }}",
  "state": "created",
  "multi_state": [],
  "cluster": {
    "config": {
      "integer": {{ cluster_config_integer | default(10) }},
      "password": "password",
      "string": "string",
      "list": [
        "value1",
        "value2",
        "value3"
      ]
    },
    "name": "cluster",
    "id": {{ cluster_id }},
    "uuid": "{{ cluster_uuid }}",
    "version": "1.0",
    "edition": "community",
    "state": "created",
    "multi_state": [],
    "before_upgrade": {
      "state": null
    }
  },
  "services": {
    "service_two_components": {
      "id": {{ service_id }},
      "uuid": "{{ service_uuid }}",
      "version": "1.0",
      "state": "created",
      "multi_state": [],
      "config": {
        "integer": {{ service_config_integer | default(10) }},
        "password": "password",
        "string": "string",
        "list": [
          "value1",
          "value2",
          "value3"
        ]
      },
      "maintenance_mode": {{ service_maintenance_mode | default("false") }},
      "display_name": "service_two_components",
      "before_upgrade": {
        "state": null
      },
      "component_1": {
        "component_id": {{ component_1_id }},
        "uuid": "{{ component_1_uuid }}",
        "config": {
          "integer": {{ component_1_config_integer | default(10) }},
          "password": "password",
          "string": "string",
          "list": [
            "value1",
            "value2",
            "value3"
          ]
        },
        "state": "created",
        "multi_state": [],
        "maintenance_mode": {{ component_1_maintenance_mode | default("false") }},
        "display_name": "component_1",
        "before_upgrade": {
          "state": null
        }
      },
      "component_2": {
        "component_id": {{ component_2_id }},
        "uuid": "{{ component_2_uuid }}",
        "config": {
          "integer": {{ component_2_config_integer | default(10) }},
          "password": "password",
          "string": "string",
          "list": [
            "value1",
            "value2",
            "value3"
          ]
        },
        "state": "created",
        "multi_state": [],
        "maintenance_mode": {{ component_2_maintenance_mode | default("false") }},
        "display_name": "component_2",
        "before_upgrade": {
          "state": null
        }
      }
    }
  }
}
