{
  "integer": {{ config_integer | default(10) }},
  "password": "password",
  "string": "string",
  "list": [
    "value1",
    "value2",
    "value3"
  ],
  "adcm_hostid": {{ adcm_hostid }},
  "state": "created",
  "multi_state": [],
  "provider": {
    "config": {
      "integer": {{ provider_config_integer | default(10) }},
      "password": "password",
      "string": "string",
      "list": [
        "value1",
        "value2",
        "value3"
      ]
    },
    "name": "provider",
    "id": {{ provider_id }},
    "host_prototype_id": {{ host_prototype_id }},
    "state": "created",
    "multi_state": [],
    "before_upgrade": {
      "state": null
    }
  }
}
