{
  "{{ host_fqdn }}": {
    "integer": 10,
    "password": {
      "__ansible_vault": "{{ password }}"
    },
    "string": "string",
    "list": [
      "value1",
      "value2",
      "value3"
    ],
    "adcm_hostid": {{ adcm_hostid }},
    "state": "created",
    "multi_state": []
  }
}