{
  "config": {
    "integer": {{ config_integer | default(10) }},
    "password": "password",
    "string": "string",
    "list": [
      "value1",
      "value2",
      "value3"
    ]
  },
  "name": "provider",
  "id": {{ id }},
  "host_prototype_id": {{ host_prototype_id }},
  "state": "created",
  "multi_state": [],
  "before_upgrade": {
    "state": null
  }
}