{
  "host_1": {
    "integer": 10,
    "password": "password",
    "string": "string",
    "list": [
      "value1",
      "value2",
      "value3"
    ],
    "adcm_hostid": {{ host_1_id }},
    "state": "created",
    "multi_state": []
  },
  "host_2": {
    "integer": 10,
    "password": "password",
    "string": "string",
    "list": [
      "value1",
      "value2",
      "value3"
    ],
    "adcm_hostid": {{ host_2_id }},
    "state": "created",
    "multi_state": [
      {% if host_2_multi_state  %}
        {% for state in host_2_multi_state %}"{{ state }}"{% if not loop.last %},{% endif %}{% endfor %}
      {% endif %}
      ]
  }
}