<ng-container *ngIf="!action; else simple">
  <i>Let's choose first</i>
  <mat-action-list>
    <button class="action-button warn" color="primary" mat-list-item *ngFor="let action of model?.actions"
      (click)="choose(action)">{{ action.display_name }}</button>
  </mat-action-list>
  <p><button mat-raised-button (click)="cancel()" color="primary">Cancel</button></p>
</ng-container>

<ng-template #simple>
  <mat-horizontal-stepper #stepper linear *ngIf="isConfig && isHmcRequired">
    <mat-step [stepControl]="fields_step.form">
      <ng-template matStepLabel>Configuration</ng-template>
      <div class="config-tools"><mat-checkbox [(ngModel)]="advanced" *ngIf="isAdvanced">Advanced</mat-checkbox></div>
      <app-config-fields #fields_step [model]="action?.config"></app-config-fields>
      <div class="controls">
        <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Host Components</ng-template>
      <app-service-host [tabIndex]="2" [cluster]="model.cluster" #hostmap_step [hideButton]="true"
        [actionParameters]="action?.hostcomponentmap" [fixedButton]="false"></app-service-host>
      <div class="controls">
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        <span [style.flex]="1"></span>
        <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
        <button mat-raised-button (click)="run({config:fields_step, hostmap: hostmap_step})"
          [disabled]="hostmap_step.noValid" color="accent">
          Run
        </button>
      </div>
    </mat-step>
    <mat-step label="Done"></mat-step>
  </mat-horizontal-stepper>
  <div *ngIf="isConfig && !isHmcRequired">
    <div class="config-tools"><mat-checkbox [(ngModel)]="advanced" *ngIf="isAdvanced">Advanced</mat-checkbox></div>
    <app-config-fields #fields [model]="action?.config" [ngStyle]="{ display: 'inherit' }"></app-config-fields>
    <ng-container *ngTemplateOutlet="controls; context: { value: { config: fields } }"></ng-container>
  </div>
  <div *ngIf="isHmcRequired && !isConfig">
    <app-service-host [tabIndex]="2" [cluster]="model.cluster" [hideButton]="true" #hostmap
      [actionParameters]="action?.hostcomponentmap" [fixedButton]="false"></app-service-host>
    <ng-container *ngTemplateOutlet="controls; context: { value: { hostmap: hostmap } }"></ng-container>
  </div>
  <div *ngIf="!isHmcRequired && !isConfig">
    <ng-container *ngTemplateOutlet="controls; context: { value: {} }"></ng-container>
  </div>
</ng-template>
<ng-template #controls let-value="value">
  <div class="controls">
    <ng-container *ngIf="model.actions.length > 1">
      <button mat-raised-button color="primary" (click)="action = null">Back</button>
      <span [style.flex]="1"></span>
    </ng-container>

    <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
    <button mat-raised-button (click)="run(value)" color="accent"
      [disabled]="(value.hostmap && value.hostmap.noValid) || (value.config && !value.config.form?.valid)">
      Run
    </button>
  </div>
</ng-template>
