.action-button {
  background: none!important;
  margin: 6px 0;

  &:hover {
    background: rgba(255, 255, 255, 0.04) !important;
  }
}

.config-tools {
  line-height: 40px;
  display: flex;
  justify-content: center;
}