<mat-toolbar color="primary" class="mat-elevation-z6 row">
  <a routerLink="/" class="col s12 l3">
    <img src="/assets/adcm-logo.png" alt="Arenadata cluster manager" />
  </a>

  <mat-nav-list class="col s12 l6 top-menu">
    <a mat-list-item class="topmenu_clusters top" routerLink="/cluster" routerLinkActive="mat-warn">
      <span>CLUSTERS</span>
    </a>
    <a mat-list-item class="topmenu_hostproviders top" routerLink="/provider" routerLinkActive="mat-warn">
      <span>HOSTPROVIDERS</span>
    </a>
    <a mat-list-item class="topmenu_hosts top" routerLink="/host" routerLinkActive="mat-warn">
      <span>HOSTS</span>
    </a>
    <a mat-list-item class="topmenu_jobs top" routerLink="/task" routerLinkActive="mat-warn"><span>JOBS</span></a>
    <a mat-list-item class="topmenu_bundles top" routerLink="/bundle" routerLinkActive="mat-warn">
      <span>BUNDLES</span>
    </a>
  </mat-nav-list>

  <span class="col s12 l3">
    <span *ngIf="(isAuth$ | async)" class="right-panel">
      <app-bell></app-bell>

      <button [appForTest]="'help'" mat-icon-button [matMenuTriggerFor]="helpMenu">
        <mat-icon>help</mat-icon>
      </button>

      <mat-menu #helpMenu="matMenu" [overlapTrigger]="false">
        <a href="https://t.me/arenadata_cm" target="_blank" [appForTest]="'ask_for_help'"
          mat-menu-item>
          <mat-icon>contact_support</mat-icon>
          <span>Ask for help</span>
        </a>

        <a [appForTest]="'dock'" mat-menu-item href="https://docs.arenadata.io/en/ADCM/current/introduction/intro.html" target="_blank">
          <mat-icon>event_seat</mat-icon>
          <span>Documentation</span>
        </a>

      </mat-menu>

      <button [appForTest]="'account'" class="toppanel_button_user" mat-icon-button [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu" [overlapTrigger]="false">
        <a [appForTest]="'settings'" mat-menu-item [routerLink]="['/admin/settings/']">
          <mat-icon>settings_applications</mat-icon>
          <span>Settings</span>
        </a>
        <button [appForTest]="'profile'" mat-menu-item (click)="profile()">
          <mat-icon>folder_shared</mat-icon>
          <span>Profile</span>
        </button>
        <button [appForTest]="'logout'" mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
  </span>
</mat-toolbar>
