.mat-toolbar {
  height: auto !important;
  padding: 6px 16px !important;
  background-color: #333c47 !important;
  margin-bottom: 0;
  display: block;
}

a {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    vertical-align: bottom;
  }

  &:hover {
    text-decoration: none;
  }
}

.top-menu {
  display: flex;
  justify-content: center;
  height: 40px;
  justify-items: baseline;

  & a {
    font-size: 14px;
  }
}

.job-status {
  display: inline-block;
  margin: 0 4px;

  & .mat-mini-fab {
    margin: 0 4px;
    width: 24px;
    height: 24px;
    line-height: 12px;
  }
}
