.dynamicActionRaisingConcerns {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
