<div [ngStyle]="{ display: isHideDummy ? 'none' : 'flex' }">
  <mat-form-field>
    <input matInput
           type="password"
           (focus)="hideDummy(false)"
           [value]="dummy"
           [readonly]="field.read_only"
           [disabled]="control.disabled"
    >
  </mat-form-field>
  <mat-form-field *ngIf="ConfirmPasswordField">
    <input matInput
           type="password"
           (focus)="hideDummy(true)"
           [value]="dummy"
           [readonly]="field.read_only"
           [disabled]="control.disabled"
    >
  </mat-form-field>
</div>

<div [formGroup]="form" [ngStyle]="{ display: !isHideDummy ? 'none' : 'flex' }">
  <mat-form-field>
    <input #input matInput type="password" (input)="confirmPasswordFieldUpdate()" [readonly]="field.read_only"
           [formControlName]="field.name" (click)="$event.stopPropagation()" [required]="field.required" />
    <mat-error *ngIf="hasError('required')"> Field [{{ field.display_name }}] is required! </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="ConfirmPasswordField">
    <input #conf matInput type="password" [readonly]="field.read_only" [formControlName]="'confirm_' + field.name" 
            [required]="field.required" />
    <mat-error *ngIf="hasErrorConfirm('required')"> Confirm [{{ field.display_name }}] is required! </mat-error>
    <mat-error *ngIf="hasErrorConfirm('notEqual')">
      Field [{{ field.display_name }}] and confirm [{{ field.display_name }}] does not match!
    </mat-error>
  </mat-form-field>
</div>
