:host {
  display: flex;
  position: relative;
  padding: 0 8px;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-toggle-button {
  cursor: pointer;
}

mat-form-field {
  flex: auto;
  margin: 0 10px;
  font-size: 14px;
}
