:host {
  line-height: normal;
  text-align: left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 14px;
  position: fixed;
  display: flex;
  border: solid 1px #455A64;
  padding: 0;
  background-color: #37474F;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  height: auto;
  z-index: 1100;
  overflow: auto;
  box-sizing: content-box;
  cursor: auto;
}

.container {
  margin: 8px 14px;
  box-sizing: content-box;
  width: auto !important;
}
