@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("fonts/UbuntuMono-Regular.eot");
  src: local("fonts/Ubuntu Mono"),
    local("fonts/UbuntuMono-Regular"),
    url("fonts/UbuntuMono-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/UbuntuMono-Regular.woff") format("woff"),
    url("fonts/UbuntuMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("fonts/UbuntuMono-Bold.eot");
  src: local("fonts/Ubuntu Mono Bold"),
    local("fonts/UbuntuMono-Bold"),
    url("fonts/UbuntuMono-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/UbuntuMono-Bold.woff") format("woff"),
    url("fonts/UbuntuMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("fonts/UbuntuMono-BoldItalic.eot");
  src: local("fonts/Ubuntu Mono Bold Italic"),
    local("fonts/UbuntuMono-BoldItalic"),
    url("fonts/UbuntuMono-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/UbuntuMono-BoldItalic.woff") format("woff"),
    url("fonts/UbuntuMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("fonts/UbuntuMono-Italic.eot");
  src: local("fonts/Ubuntu Mono Italic"),
    local("fonts/UbuntuMono-Italic"),
    url("fonts/UbuntuMono-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/UbuntuMono-Italic.woff") format("woff"),
    url("fonts/UbuntuMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
