:global {
  body.theme-dark {
    --cluster-overview-entity-item-bg: var(--color-new-light-30);
    --cluster-overview-entity-item-border: var(--color-dark-1);
  }

  body.theme-light {
    --cluster-overview-entity-item-bg: var(--color-plate-light-50);
    --cluster-overview-entity-item-border: var(--color-xgray-lighter);
  }
}

.clusterOverviewServiceItem {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  box-sizing: border-box;
  padding: var(--space-200);
  border: 2px solid var(--cluster-overview-entity-item-border);
  border-radius: var(--radius-200);
  background-color: var(--cluster-overview-entity-item-bg);

  &__header {
    display: flex;
    align-items: center;
    gap: var(--space-100);
  }

  &__title {
    font-size: var(--body-2-size);
    font-weight: var(--weight-medium);
    line-height: var(--body-2-lineheight);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__mmIcon {
    flex-shrink: 0;
    color: var(--color-light-red-30);
  }

  &__text {
    font-size: var(--caption-1-size);
    line-height: var(--caption-1-lineheight);
    font-weight: var(--weight-medium);
    letter-spacing: var(--letter-spacing-050p);
    color: var(--color-text-placeholder);
  }
}
