- service: service_requires_component
  component: component_1
  operation: add
- service: service_with_component_required
  component: not_required_component
  operation: add
- service: service_with_component_required
  component: required_component
  operation: add