body.theme-dark {
  --bg-primary-default: var(--neutral-9);
  --bg-primary-soft: var(--neutral-10);
  --border-brand-default: var(--brand-500);
  --icon-neutral: var(--text-secondary);
  --bg-disabled-soft: var(--neutral-alpha-51-16);
  --icon-primary: var(--text-primary);
  --text-secondary: var(--neutral-66);
  --text-primary: var(--neutral-88);
  --text-disabled: var(--neutral-48);
  --border-default: var(--neutral-29);
  --border-warning-default: var(--yellow-400);
  --border-danger-default: var(--red-400);
  --border-info-default: var(--blue-600);
  --shadow-neutral-lg: var(--neutral-alpha-8-16);
  --json-json-violet: #da3c93;
  --json-json-blue: #366c9e;
  --json-json-green: var(--border-sucess-default);
  --json-json-hover: #ccebed;
  --icon-inverse: var(--text-inverse);
  --bg-success-soft: var(--green-alpha-500-24);
  --bg-danger-soft: var(--red-alpha-500-24);
  --bg-warning-soft: var(--yellow-alpha-600-16);
  --bg-tertiary-soft: var(--neutral-19);
  --bg-tertiary-strong: var(--neutral-21);
  --bg-danger-strong: var(--red-alpha-500-36);
  --bg-success-strong: var(--green-alpha-500-36);
  --bg-secondary-soft: var(--neutral-13);
  --bg-secondary-default: var(--neutral-15);
  --bg-quaternary-soft: var(--neutral-23);
  --bg-quaternary-strong: var(--neutral-29);
  --json-json-yelllow: #da903c;
  --json-json-red: var(--text-danger-default);
  --json-json-disabled: var(--border-extrastrong);
  --bg-warning-strong: var(--yellow-alpha-600-24);
  --border-sucess-default: var(--green-500);
  --border-extrastrong: var(--neutral-51);
  --border-strong: var(--neutral-31);
  --bg-brand-soft: var(--brand-alpha-500-24);
  --bg-brand-strong: var(--brand-alpha-500-36);
  --bg-primary-strong: var(--neutral-8);
  --bg-info-soft: var(--blue-alpha-500-24);
  --text-link-default: var(--blue-600);
  --bg-info-strong: var(--blue-alpha-500-36);
  --text-placeholder: var(--neutral-56);
  --text-danger-default: var(--red-300);
  --text-warning-default: var(--yellow-400);
  --bg-disabled-strong: var(--neutral-alpha-51-24);
  --text-success-default: var(--green-500);
  --bg-primary-default-0: var(--neutral-alpha-9-0);
  --bg-secondary-strong: var(--neutral-17);
  --bg-container-raised: var(--bg-secondary-default);
  --bg-container-base: var(--bg-secondary-soft);
  --shadow-neutral-md: var(--neutral-alpha-8-12);
  --shadow-neutral-sm: var(--neutral-alpha-8-8);
  --shadow-neutral-xs: var(--neutral-alpha-8-4);
  --border-subtle: var(--neutral-25);
  --border-soft: var(--bg-secondary-soft);
  --text-inverse: var(--neutral-28);
  --text-link-pressed: var(--blue-700);
  --text-brand-default: var(--brand-500);
  --text-info-default: var(--blue-600);
  --text-info-pressed: var(--blue-700);
  --border-weak: var(--bg-primary-soft);
  --bg-container-floating: var(--bg-secondary-strong);
  --border-danger-soft: var(--red-alpha-500-24);
  --border-danger-strong: var(--red-alpha-500-36);
  --border-info-strong: var(--blue-alpha-500-36);
  --border-info-soft: var(--blue-alpha-500-24);
  --border-warning-soft: var(--yellow-alpha-600-16);
  --border-warning-strong: var(--yellow-alpha-600-24);
  --icon-brand: var(--border-brand-default);
  --icon-danger: var(--red-400);
  --icon-warning: var(--yellow-500);
  --icon-success: var(--border-sucess-default);
  --icon-disabled: var(--text-disabled);
  --icon-info: var(--blue-600);
  --border-sucess-strong: var(--green-alpha-500-36);
  --border-sucess-soft: var(--green-alpha-500-24);
  --shadow-danger-lg: var(--red-alpha-500-16);
  --shadow-danger-md: var(--red-alpha-500-12);
  --shadow-danger-sm: var(--red-alpha-500-8);
  --shadow-danger-xs: var(--red-alpha-500-4);
  --shadow-info-lg: var(--blue-alpha-500-16);
  --shadow-info-md: var(--blue-alpha-500-12);
  --shadow-info-sm: var(--blue-alpha-500-8);
  --shadow-info-xs: var(--blue-alpha-500-4);
  --icon-feature: var(--purple-500);
  --bg-feature-soft: var(--purple-alpha-500-24);
  --bg-feature-strong: var(--purple-alpha-500-36);
  --text-feature-default: var(--purple-300);
  --text-feature-pressed: var(--purple-400);
  --icon-high-contast: var(--neutral-99);
  --bg-primary-extra: var(--neutral-6);
  --bg-primary-extra-0: var(--neutral-alpha-6-0);
  --border-feature-soft: var(--purple-alpha-500-24);
  --border-feature-default: var(--purple-600);
  --border-feature-strong: var(--purple-alpha-500-36);
  --border-feature-weak: var(--purple-alpha-500-16);
  --border-brand-soft: var(--brand-alpha-500-24);
  --border-brand-strong: var(--brand-alpha-500-36);
  --border-brand-weak: var(--brand-alpha-500-16);
  --bg-success-weak: var(--green-alpha-500-8);
  --bg-brand-weak: var(--brand-alpha-500-8);
  --bg-danger-weak: var(--red-alpha-500-8);
  --bg-warning-weak: var(--yellow-alpha-600-4);
  --bg-feature-weak: var(--purple-alpha-500-8);
  --bg-info-weak: var(--blue-alpha-500-8);
  --bg-brand-subtle: var(--brand-alpha-500-16);
  --bg-danger-subtle: var(--red-alpha-500-16);
  --bg-warning-subtle: var(--yellow-alpha-600-8);
  --bg-success-subtle: var(--green-alpha-500-16);
  --bg-info-subtle: var(--blue-alpha-500-16);
  --bg-feature-subtle: var(--purple-alpha-500-16);
  --bg-disabled-subtle: var(--neutral-alpha-51-8);
  --bg-disabled-weak: var(--neutral-alpha-51-4);
}

body.theme-light {
  --bg-primary-default: var(--neutral-97);
  --bg-primary-soft: var(--neutral-96);
  --border-brand-default: var(--brand-600);
  --icon-neutral: var(--text-secondary);
  --bg-disabled-soft: var(--neutral-alpha-51-16);
  --icon-primary: var(--text-primary);
  --text-secondary: var(--neutral-51);
  --text-primary: var(--neutral-28);
  --text-disabled: var(--neutral-68);
  --border-default: #aeb8c0;
  --border-warning-default: var(--orange-400);
  --border-danger-default: var(--red-600);
  --border-info-default: var(--blue-600);
  --shadow-neutral-lg: var(--neutral-alpha-66-16);
  --json-json-violet: #da3c93;
  --json-json-blue: #366c9e;
  --json-json-green: var(--border-sucess-default);
  --json-json-hover: #ccebed;
  --icon-inverse: var(--text-inverse);
  --bg-success-soft: var(--green-alpha-700-24);
  --bg-danger-soft: var(--red-alpha-500-24);
  --bg-warning-soft: var(--orange-alpha-500-4);
  --bg-tertiary-soft: var(--neutral-86);
  --bg-tertiary-strong: var(--neutral-84);
  --bg-danger-strong: var(--red-alpha-500-36);
  --bg-success-strong: var(--green-alpha-700-36);
  --bg-secondary-soft: var(--neutral-91);
  --bg-secondary-default: var(--neutral-89);
  --bg-quaternary-soft: var(--neutral-82);
  --bg-quaternary-strong: var(--neutral-78);
  --json-json-yelllow: #da903c;
  --json-json-red: var(--text-danger-default);
  --json-json-disabled: var(--border-extrastrong);
  --bg-warning-strong: var(--orange-alpha-500-8);
  --border-sucess-default: var(--green-700);
  --border-extrastrong: var(--neutral-51);
  --border-strong: var(--neutral-68);
  --bg-brand-soft: var(--brand-alpha-700-24);
  --bg-brand-strong: var(--brand-alpha-700-36);
  --bg-primary-strong: var(--neutral-98);
  --bg-info-soft: var(--blue-alpha-500-24);
  --text-link-default: var(--blue-700);
  --bg-info-strong: var(--blue-alpha-500-36);
  --text-placeholder: var(--neutral-40);
  --text-danger-default: var(--red-800);
  --text-warning-default: var(--orange-700);
  --bg-disabled-strong: var(--neutral-alpha-51-24);
  --text-success-default: var(--green-800);
  --bg-primary-default-0: var(--neutral-alpha-97-0);
  --bg-secondary-strong: var(--neutral-87);
  --bg-container-raised: var(--bg-secondary-default);
  --bg-container-base: var(--bg-secondary-soft);
  --shadow-neutral-md: var(--neutral-alpha-66-12);
  --shadow-neutral-sm: var(--neutral-alpha-66-8);
  --shadow-neutral-xs: var(--neutral-alpha-66-4);
  --border-subtle: #b2bbc1;
  --border-soft: var(--bg-secondary-soft);
  --text-inverse: var(--neutral-98);
  --text-link-pressed: var(--blue-800);
  --text-brand-default: var(--brand-900);
  --text-info-default: var(--blue-700);
  --text-info-pressed: var(--blue-800);
  --border-weak: var(--bg-primary-soft);
  --bg-container-floating: var(--bg-secondary-strong);
  --border-danger-soft: var(--red-alpha-500-24);
  --border-danger-strong: var(--red-alpha-500-36);
  --border-info-strong: var(--blue-alpha-500-36);
  --border-info-soft: var(--blue-alpha-500-36);
  --border-warning-soft: var(--orange-alpha-500-16);
  --border-warning-strong: var(--orange-alpha-500-24);
  --icon-brand: var(--border-brand-default);
  --icon-danger: var(--red-500);
  --icon-warning: var(--orange-500);
  --icon-success: var(--border-sucess-default);
  --icon-disabled: var(--text-disabled);
  --icon-info: var(--blue-700);
  --border-sucess-strong: var(--green-alpha-700-36);
  --border-sucess-soft: var(--green-alpha-700-24);
  --shadow-danger-lg: var(--red-alpha-500-16);
  --shadow-danger-md: var(--red-alpha-500-12);
  --shadow-danger-sm: var(--red-alpha-500-8);
  --shadow-danger-xs: var(--red-alpha-500-4);
  --shadow-info-lg: var(--blue-alpha-500-16);
  --shadow-info-md: var(--blue-alpha-500-12);
  --shadow-info-sm: var(--blue-alpha-500-8);
  --shadow-info-xs: var(--blue-alpha-500-4);
  --icon-feature: var(--purple-600);
  --bg-feature-soft: var(--purple-alpha-500-24);
  --bg-feature-strong: var(--purple-alpha-500-36);
  --text-feature-default: var(--purple-600);
  --text-feature-pressed: var(--purple-700);
  --icon-high-contast: var(--neutral-25);
  --bg-primary-extra: var(--neutral-99);
  --bg-primary-extra-0: var(--neutral-alpha-99-0);
  --border-feature-soft: var(--purple-alpha-500-24);
  --border-feature-default: var(--purple-500);
  --border-feature-strong: var(--purple-alpha-500-36);
  --border-feature-weak: var(--purple-alpha-500-16);
  --border-brand-soft: var(--brand-alpha-700-24);
  --border-brand-strong: var(--brand-alpha-700-36);
  --border-brand-weak: var(--brand-alpha-700-16);
  --bg-success-weak: var(--green-050);
  --bg-brand-weak: var(--brand-alpha-700-8);
  --bg-danger-weak: var(--red-100);
  --bg-warning-weak: var(--orange-100);
  --bg-feature-weak: var(--purple-050);
  --bg-info-weak: var(--blue-alpha-500-8);
  --bg-brand-subtle: var(--brand-alpha-700-16);
  --bg-danger-subtle: var(--red-200);
  --bg-warning-subtle: var(--orange-200);
  --bg-success-subtle: var(--green-100);
  --bg-info-subtle: var(--blue-alpha-500-16);
  --bg-feature-subtle: var(--purple-100);
  --bg-disabled-subtle: var(--neutral-alpha-51-8);
  --bg-disabled-weak: var(--neutral-alpha-51-4);
}
