<ng-container *ngIf="request$ | async"></ng-container>
<mat-toolbar>
  <app-details-top [current]="current" [actions]="actions" [isIssue]="isIssue" [upgradable]="upgradable">
  </app-details-top>
</mat-toolbar>

<mat-drawer-container [style.flex]="1" autosize>
  <mat-drawer disableClose="true" mode="side" opened>
    <app-details-left [current]="current" [issue]="issue" [status]="status"></app-details-left>
  </mat-drawer>
  <mat-drawer-content [style.display]="'flex'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ currentName }}
        </mat-card-title>
        <mat-card-subtitle>
          <app-details-subtitle [current]="current"></app-details-subtitle>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content appScroll (read)="scroll($event)" *ngIf="current">
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
