@import "~@angular/material/theming";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.row {
  margin: 0;
  flex: 1;
  overflow: auto;
}

.mat-card {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  & .mat-card-header {
    min-height: 40px;
    padding: 6px 10px 0;

    & .mat-card-title {
      font-size: 26px;
    }
  }

  .mat-card-content {
    display: flex;
    flex: 1;
    overflow: auto;
  }
}

.mat-toolbar {
  height: auto;
  min-height: 50px;
}

.issue-warning {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;

  .mat-icon {
    margin: 8px 0 0 8px;
  }

  div {
    width: 40px;
    height: 40px;
    position: absolute;
    background: mat-color($mat-orange, 500);
    border-radius: 20px;
    top: 0;
    opacity: 0;
    animation: ripple 2s infinite ease-in-out;
  }
}


@keyframes ripple {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}
