@import "src/mixins";

:host {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

:host:last-child {
  margin-bottom: 0;
}

:host:nth-child(odd) {
  background-color: #4e4e4e;
}

:host.read-only {
  @include read-only-field;
}
