<ng-container *ngIf="role">

  <ng-template [ngIf]="role | parametrizedByCluster">

    <adwp-input-select [form]="object('cluster')"
                       controlName="id"
                       label="Cluster"
                       [handler]="clusterHandler"
                       [options]="clusters$ | async">

    </adwp-input-select>

  </ng-template>


  <ng-template [ngIf]="role | parametrizedByService">

    <adwp-input-select [form]="object('service')"
                       controlName="id"
                       label="Service"
                       [handler]="serviceHandler"
                       [options]="services$ | async">

    </adwp-input-select>

  </ng-template>


  <ng-template [ngIf]="role | parametrizedByOther">

    <p>The selected role does not require specifying an object. The policy will apply to all ADCM objects.</p>

  </ng-template>

</ng-container>
