<ng-container *ngIf="role && candidates && object">

  <ng-template [ngIf]="role | parametrizedBy: ['cluster']">
    <app-parametrized-by-cluster [object]="object" [candidates]="candidates">
    </app-parametrized-by-cluster>
  </ng-template>

  <ng-template [ngIf]="role | parametrizedBy: ['service', 'component'] ">
    <app-parametrized-by-service [object]="object" [candidates]="candidates">
    </app-parametrized-by-service>
  </ng-template>

  <ng-template [ngIf]="(role | parametrizedBy: ['host']) && !object?.get('provider')?.value?.length">
    <app-parametrized-by-host [object]="object" [candidates]="candidates">
    </app-parametrized-by-host>
  </ng-template>

  <ng-template [ngIf]="(role | parametrizedBy: ['provider']) && !object?.get('host')?.value?.length ">
    <app-parametrized-by-provider [object]="object" [candidates]="candidates">
    </app-parametrized-by-provider>
  </ng-template>

  <ng-template [ngIf]="!role.parametrized_by_type?.length">
    <p>The selected role does not require specifying an object.
      The policy will apply to all ADCM objects.</p>
  </ng-template>

</ng-container>
