<div class="container">
  <p>
    <ng-container *ngIf="cluster">
      <b>{{ cluster.name }}</b></ng-container>
  </p>
  <mat-vertical-stepper [linear]="!cluster" #stepper>
    <mat-step [completed]="cluster" [editable]="false">
      <ng-template matStepLabel>Create cluster</ng-template>
      <app-add-cluster (cancel)="addCluster($event)"></app-add-cluster>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Add services</ng-template>
      <app-add-service *ngIf="cluster" (cancel)="next(2)"></app-add-service>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Add hosts</ng-template>
      <app-add-host2cluster (cancel)="next(3)"></app-add-host2cluster>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Host - Components</ng-template>
      <app-service-host *ngIf="cluster" [cluster]="cluster" (saveResult)="next(4);">
      </app-service-host>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Configuration</ng-template>
      <app-wizard-config *ngIf="cluster" #config [cluster]="cluster"></app-wizard-config>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Actions</ng-template>
      <app-wizard-actions></app-wizard-actions>
    </mat-step>
  </mat-vertical-stepper>
</div>
