:host {
  div {
    display: inline-flex;
    align-items: center;

    &.verified {

      &:after {
        background: #00D2A0;
      }
    }

    &:after {
      content: '\A';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #C64A6F;
      display: inline-block;
      margin: 0 10px;
    }
  }
}
