<div class="controls" [ngStyle]="{'position': fixedButton ? 'fixed': 'initial'}">
  <button mat-raised-button color="primary" (click)="restore()">Restore</button>
  <button [disabled]="noValid" mat-raised-button color="accent" (click)="save()" *ngIf="!hideButton">Save</button>
</div>

<div class="holder" [appHolder]="scrollEventData">
  <div>
    <h3><span>Components</span></h3>
    <div class="wrapper">
      <div *ngIf="!Components?.length">
        Add services on the <a [routerLink]="['/cluster', cluster?.id, 'service']">services page.</a>
      </div>
      <app-much-2-many *ngFor="let service of Components" [model]="service" [form]="form"
        (clickToTitleEvt)="selectService($event)" (clearRelationEvt)="clearHostFromService($event)">
      </app-much-2-many>
    </div>
  </div>
  <div>
    <h3><span>Hosts</span>
      <app-add-button [name]="'host2cluster'" [asIcon]="true" [style.lineHeight.px]="16" [clusterId]="cluster?.id"></app-add-button>
    </h3>
    <div class="wrapper">
      <div *ngIf="!Hosts?.length">
        Add hosts on the <a [routerLink]="['/cluster', cluster?.id, 'host']">hosts page.</a>
      </div>
      <app-much-2-many *ngFor="let host of Hosts" [model]="host" [form]="form" [actionParameters]="actionParameters" [selectedComponent]="selectedComponent"
        (clickToTitleEvt)="selectHost($event)" (clearRelationEvt)="clearServiceFromHost($event)">
      </app-much-2-many>
    </div>
  </div>
</div>
