- name: first_stage
  display_name: "First stage"
  steps:
    - name: stage1_step1
      display_name: "Stage1.Step1"
      config_template:
        file:
          path: wizard_jinja/steps/s1_config.j2
        engine:
          type: jinja2
- name: second_stage
  display_name: "Second stage"
  steps:
    - name: stage2_step1
      display_name: "Stage2.Step1"
      config_template:
        file:
          path: wizard_jinja/steps/s2_config.j2
        engine:
          type: jinja2
    - name: stage2_step2
      display_name: "Stage2.Step2"
      ui_options:
        button_name: ButtonName
      scripts_template:
        file:
          path: wizard_jinja/steps/s3_script.py
          entrypoint: generate_scripts
        engine:
          type: python
- name: third_stage
  display_name: "Third stage"
  steps:
    - name: stage3_step1
      display_name: "Stage3.Step1"
      ui_options:
        button_name: ButtonName
      scripts_template:
        file:
          path: wizard_jinja/steps/s3_script.py
          entrypoint: generate_scripts
        engine:
          type: python
- name: fourth_stage
  display_name: "Fourth stage"
  steps:
    - name: stage4_step1
      display_name: "Stage4.Step1"
      ui_options:
        button_name: ButtonName
      scripts_template:
        file:
          path: wizard_jinja/steps/s3_script.py
          entrypoint: generate_scripts
        engine:
          type: python
    - name: stage4_step2
      display_name: "Stage4.Step2"
      ui_options:
        button_name: ButtonName
      scripts_template:
        file:
          path: wizard_jinja/steps/s3_script.py
          entrypoint: generate_scripts
        engine:
          type: python


