- name: Stage
  display_name: Wizard
  invalid_field: Hahaha
  steps:
    - name: step
      display_name: Step
      config_template:
        file:
          path: config_step.l2
        engine:
          type: jinja2
