{
  "plain_group": {
    "simple": "ingroup",
    "secretmap": {
      "gk1": "gv1",
      "gk2": "gv2"
    },
    "secretfile": "{{ filedir }}/cluster.{{ cluster.id }}.plain_group.secretfile",
    "list_of_dicts": null,
    "listofstuff": [
      "x",
      "y"
    ]
  },
  "activatable_group": null,
  "just_bool": null,
  "just_integer": 4,
  "just_float": 2.3,
  "just_string": "outofgroup",
  "just_text": "lineone\nsecond line\n",
  "just_map": {},
  "just_list": [
    "1"
  ],
  "just_json": null,
  "variant_config": null,
  "variant_inline": null,
  "variant_builtin": null,
  "password": "defaultpass",
  "secrettext": "default\npassword\n",
  "secretmap": {
    "k1": "v1",
    "k2": "v2"
  },
  "secretfile": "{{ filedir }}/cluster.{{ cluster.id }}.secretfile.",
  "nullist": [],
  "list_of_dicts": [
    {
      "integer": 3,
      "string": "three"
    },
    {
      "integer": 12,
      "string": "twelve"
    }
  ],
  "dict_of_lists": {
    "integers": [
      1,
      103
    ],
    "strings": [
      "over",
      "and",
      "over"
    ]
  }
}