{
  "cluster": {
    "config": {
      "plain_group": {
        "simple": "ingroup",
        "secretmap": {
          "gk1": "gv1",
          "gk2": "gv2"
        },
        "secretfile": "{{ filedir }}/cluster.{{ cluster.id }}.plain_group.secretfile",
        "list_of_dicts": null,
        "listofstuff": [
          "x",
          "y"
        ]
      },
      "activatable_group": null,
      "just_bool": null,
      "just_integer": 4,
      "just_float": 2.3,
      "just_string": "outofgroup",
      "just_text": "lineone\nsecond line\n",
      "just_map": {},
      "just_list": [
        "1"
      ],
      "just_json": null,
      "variant_config": null,
      "variant_inline": null,
      "variant_builtin": null,
      "password": "defaultpass",
      "secrettext": "default\npassword\n",
      "secretmap": {
        "k1": "v1",
        "k2": "v2"
      },
      "secretfile": "{{ filedir }}/cluster.{{ cluster.id }}.secretfile.",
      "nullist": [],
      "list_of_dicts": [
        {
          "integer": 3,
          "string": "three"
        },
        {
          "integer": 12,
          "string": "twelve"
        }
      ],
      "dict_of_lists": {
        "integers": [
          1,
          103
        ],
        "strings": [
          "over",
          "and",
          "over"
        ]
      }
    },
    "name": "Target Cluster",
    "id": {{ cluster.id }},
    "version": "2.3",
    "edition": "community",
    "state": "created",
    "multi_state": [],
    "before_upgrade": {
      "state": null
    }
  },
  "services": {
    "not_simple": {
      "id": {{ not_simple.id }},
      "version": "4.3",
      "state": "created",
      "multi_state": [],
      "config": {
        "plain_group": {
          "simple": "ingroup",
          "secretmap": {
            "gk1": "gv1",
            "gk2": "gv2"
          },
          "secretfile": "{{ filedir }}/service.{{ not_simple.id }}.plain_group.secretfile",
          "list_of_dicts": null,
          "listofstuff": [
            "x",
            "y"
          ]
        },
        "activatable_group": null,
        "just_bool": null,
        "just_integer": 4,
        "just_float": 2.3,
        "just_string": "outofgroup",
        "just_text": "lineone\nsecond line\n",
        "just_map": {},
        "just_list": [
          "1"
        ],
        "just_json": null,
        "variant_config": null,
        "variant_inline": null,
        "variant_builtin": null,
        "password": "defaultpass",
        "secrettext": "default\npassword\n",
        "secretmap": {
          "k1": "v1",
          "k2": "v2"
        },
        "secretfile": "{{ filedir }}/service.{{ not_simple.id }}.secretfile.",
        "nullist": [],
        "list_of_dicts": [
          {
            "integer": 3,
            "string": "three"
          },
          {
            "integer": 12,
            "string": "twelve"
          }
        ],
        "dict_of_lists": {
          "integers": [
            1,
            103
          ],
          "strings": [
            "over",
            "and",
            "over"
          ]
        }
      },
      "maintenance_mode": false,
      "display_name": "not_simple",
      "before_upgrade": {
        "state": null
      },
      "not_simple_component": {
        "component_id": {{ not_simple_component.id }},
        "config": {
          "plain_group": {
            "simple": "ingroup",
            "secretmap": {
              "gk1": "gv1",
              "gk2": "gv2"
            },
            "secretfile": "{{ filedir }}/component.{{ not_simple_component.id }}.plain_group.secretfile",
            "list_of_dicts": null,
            "listofstuff": [
              "x",
              "y"
            ]
          },
          "activatable_group": null,
          "just_bool": null,
          "just_integer": 4,
          "just_float": 2.3,
          "just_string": "outofgroup",
          "just_text": "lineone\nsecond line\n",
          "just_map": {},
          "just_list": [
            "1"
          ],
          "just_json": null,
          "variant_config": null,
          "variant_inline": null,
          "variant_builtin": null,
          "password": "defaultpass",
          "secrettext": "default\npassword\n",
          "secretmap": {
            "k1": "v1",
            "k2": "v2"
          },
          "secretfile": "{{ filedir }}/component.{{ not_simple_component.id }}.secretfile.",
          "nullist": [],
          "list_of_dicts": [
            {
              "integer": 3,
              "string": "three"
            },
            {
              "integer": 12,
              "string": "twelve"
            }
          ],
          "dict_of_lists": {
            "integers": [
              1,
              103
            ],
            "strings": [
              "over",
              "and",
              "over"
            ]
          }
        },
        "state": "created",
        "multi_state": [],
        "maintenance_mode": false,
        "display_name": "not_simple_component",
        "before_upgrade": {
          "state": null
        }
      },
      "another_not_simple_component": {
        "component_id": {{ another_not_simple_component.id }},
        "config": {
          "plain_group": {
            "simple": "ingroup",
            "secretmap": {
              "gk1": "gv1",
              "gk2": "gv2"
            },
            "secretfile": "{{ filedir }}/component.{{ another_not_simple_component.id }}.plain_group.secretfile",
            "list_of_dicts": null,
            "listofstuff": [
              "x",
              "y"
            ]
          },
          "activatable_group": null,
          "just_bool": null,
          "just_integer": 4,
          "just_float": 2.3,
          "just_string": "outofgroup",
          "just_text": "lineone\nsecond line\n",
          "just_map": {},
          "just_list": [
            "1"
          ],
          "just_json": null,
          "variant_config": null,
          "variant_inline": null,
          "variant_builtin": null,
          "password": "defaultpass",
          "secrettext": "default\npassword\n",
          "secretmap": {
            "k1": "v1",
            "k2": "v2"
          },
          "secretfile": "{{ filedir }}/component.{{ another_not_simple_component.id }}.secretfile.",
          "nullist": [],
          "list_of_dicts": [
            {
              "integer": 3,
              "string": "three"
            },
            {
              "integer": 12,
              "string": "twelve"
            }
          ],
          "dict_of_lists": {
            "integers": [
              1,
              103
            ],
            "strings": [
              "over",
              "and",
              "over"
            ]
          }
        },
        "state": "created",
        "multi_state": [],
        "maintenance_mode": false,
        "display_name": "another_not_simple_component",
        "before_upgrade": {
          "state": null
        }
      }
    },
    "thesame": {
      "id": {{ thesame.id }},
      "version": "2.1",
      "state": "created",
      "multi_state": [],
      "config": {
        "plain_group": {
          "simple": "ingroup",
          "secretmap": {
            "gk1": "gv1",
            "gk2": "gv2"
          },
          "secretfile": "{{ filedir }}/service.{{ thesame.id }}.plain_group.secretfile",
          "list_of_dicts": null,
          "listofstuff": [
            "x",
            "y"
          ]
        },
        "activatable_group": {
          "simple": "bestgroupever",
          "secretmap": {
            "agk1": "agv1",
            "agk2": "agv2"
          },
          "secretfile": "{{ filedir }}/service.{{ thesame.id }}.activatable_group.secretfile"
        },
        "just_bool": null,
        "just_integer": 4,
        "just_float": 2.3,
        "just_string": "outofgroup",
        "just_text": "lineone\nsecond line\n",
        "just_map": {},
        "just_list": [
          "1"
        ],
        "just_json": null,
        "variant_config": null,
        "variant_inline": null,
        "variant_builtin": null,
        "password": "defaultpass",
        "secrettext": "default\npassword\n",
        "secretmap": {
          "k1": "v1",
          "k2": "v2"
        },
        "secretfile": "{{ filedir }}/service.{{ thesame.id }}.secretfile.",
        "nullist": [],
        "list_of_dicts": [
          {
            "integer": 400,
            "string": "woo"
          }
        ],
        "dict_of_lists": {
          "integers": [
            1,
            103
          ],
          "strings": [
            "over",
            "and",
            "over"
          ]
        }
      },
      "maintenance_mode": false,
      "display_name": "thesame",
      "before_upgrade": {
        "state": null
      },
      "thesame_component": {
        "component_id": {{ thesame_component.id }},
        "config": {
          "plain_group": {
            "simple": "ingroup",
            "secretmap": {
              "gk1": "gv1",
              "gk2": "gv2"
            },
            "secretfile": "{{ filedir }}/component.{{ thesame_component.id }}.plain_group.secretfile",
            "list_of_dicts": null,
            "listofstuff": [
              "x",
              "y"
            ]
          },
          "activatable_group": null,
          "just_bool": null,
          "just_integer": 4,
          "just_float": 2.3,
          "just_string": "outofgroup",
          "just_text": "lineone\nsecond line\n",
          "just_map": {},
          "just_list": [
            "1"
          ],
          "just_json": null,
          "variant_config": null,
          "variant_inline": null,
          "variant_builtin": null,
          "password": "defaultpass",
          "secrettext": "default\npassword\n",
          "secretmap": {
            "k1": "v1",
            "k2": "v2"
          },
          "secretfile": "{{ filedir }}/component.{{ thesame_component.id }}.secretfile.",
          "nullist": [],
          "list_of_dicts": [
            {
              "integer": 3,
              "string": "three"
            },
            {
              "integer": 12,
              "string": "twelve"
            }
          ],
          "dict_of_lists": {
            "integers": [
              1,
              103
            ],
            "strings": [
              "over",
              "and",
              "over"
            ]
          }
        },
        "state": "created",
        "multi_state": [],
        "maintenance_mode": false,
        "display_name": "thesame_component",
        "before_upgrade": {
          "state": null
        }
      },
      "another_thesame_component": {
        "component_id": {{ another_thesame_component.id }},
        "config": {
          "plain_group": {
            "simple": "ingroup",
            "secretmap": {
              "gk1": "gv1",
              "gk2": "gv2"
            },
            "secretfile": "{{ filedir }}/component.{{ another_thesame_component.id }}.plain_group.secretfile",
            "list_of_dicts": null,
            "listofstuff": [
              "wind",
              "vs",
              "oak"
            ]
          },
          "activatable_group": null,
          "just_bool": null,
          "just_integer": 4,
          "just_float": 1000.304,
          "just_string": "outofgroup",
          "just_text": "lineone\nsecond line\n",
          "just_map": {},
          "just_list": [
            "1"
          ],
          "just_json": null,
          "variant_config": null,
          "variant_inline": null,
          "variant_builtin": null,
          "password": "defaultpass",
          "secrettext": "default\npassword\n",
          "secretmap": {
            "k1": "v1",
            "k2": "v2"
          },
          "secretfile": "{{ filedir }}/component.{{ another_thesame_component.id }}.secretfile.",
          "nullist": [],
          "list_of_dicts": [
            {
              "integer": 3,
              "string": "three"
            },
            {
              "integer": 12,
              "string": "twelve"
            }
          ],
          "dict_of_lists": {
            "integers": [
              1,
              103
            ],
            "strings": [
              "over",
              "and",
              "over"
            ]
          }
        },
        "state": "created",
        "multi_state": [],
        "maintenance_mode": false,
        "display_name": "another_thesame_component",
        "before_upgrade": {
          "state": null
        }
      }
    }
  }
}