- name: first_stage_first_broken
  display_name: "First stage (first step broken)"
  steps:
    - name: first_broken_mapping_step
      display_name: "First broken mapping step"
      hc_template:
        file:
          path: wizard_jinja/steps/hc_step_broken.j2
        engine:
          type: jinja2
