- name: first_stage_second_broken
  display_name: "First stage (second step broken)"
  steps:
    - name: first_config_step
      display_name: "First config step"
      config_template:
        file:
          path: wizard_jinja/steps/s1_config.j2
        engine:
          type: jinja2
    - name: second_broken_mapping_step
      display_name: "Second broken mapping step"
      hc_template:
        file:
          path: wizard_jinja/steps/hc_step_broken.j2
        engine:
          type: jinja2
