- service: hdfs
  component: datanode
  operation: add
- service: hdfs
  component: namenode
  operation: add
- service: monitoring
  component: agent
  operation: add
- service: monitoring
  component: control
  operation: remove
- service: monitoring
  component: absentcomponent
  operation: add
- service: notaservice
  component: control
  operation: add