:global {
  body.theme-dark {
    --audit-table-expandable-row-background: var(--color-xdark-new-full);
  }

  body.theme-light {
    --audit-table-expandable-row-background: var(--color-xgray-alt);
  }
}

.auditOperationsTable {
  &__auditRow {
    &.expandedRow {
      --table-expandable-row-background: var(--audit-table-expandable-row-background);

      &:hover + .auditOperationsTable__expandedRow > td {
        background-color: var(--table-tr-background-hover) !important;
      }
      &:has(+ .auditOperationsTable__expandedRow:hover) {
        --table-tr-border: var(--table-tr-border-hover);
        --table-tr-color: var(--table-tr-color-hover);
        --table-tr-background: var(--table-tr-background-hover);
      }
    }
  }

  &__expandedRow  {
    background: var(--audit-table-expandable-row-background) !important;

    & > td {
      background-color: transparent !important;
    }

    &:hover > td {
      background-color: var(--table-tr-background-hover) !important;
    }

    & > td table > tbody > tr:first-child {
      border-bottom: 0;
    }
  }
}
