:global {
  body.theme-dark {
    --wizard-step--stem-number-background-color: var(--color-plate-10);
  }

  body.theme-light {
    --wizard-step--stem-number-background-color: var(--color-popup-light);
  }
}

.wizardSteps {
  .tabButton {
    display: flex;
    gap: 6px;

    &__stepNumber {
      width: 20px;
      border-radius: 20px;
      background-color: var(--wizard-step--stem-number-background-color);
    }
  }
}

