:global {
  body.theme-dark {
    --cluster-overview-info-card-border-color: var(--color-dark-1);
    --cluster-overview-info-card-text-primary: var(--color-xgray-lighter);
    --cluster-overview-info-card-text-secondary: var(--color-gray-usual);
  }

  body.theme-light {
    --cluster-overview-info-card-border-color: var(--color-light-stroke-lighter);
    --cluster-overview-info-card-text-primary: var(--color-xgray-new-darker);
    --cluster-overview-info-card-text-secondary: var(--color-adcm);
  }
}

.clusterOverviewInfoCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  min-width: 0;
  padding: var(--space-500);
  border-radius: var(--radius-200);
  background-color: var(--color-bg-primary-extra);
  overflow: hidden;

  &__title {
    font-size: var(--font-size-800);
    font-weight: var(--weight-semibold);
    line-height: var(--line-height-500);
    color: var(--cluster-overview-info-card-text-primary);
  }

  &__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    box-sizing: border-box;
    padding: var(--space-300) var(--space-400);
    border-bottom: 1px solid var(--cluster-overview-info-card-border-color);
    vertical-align: middle;
    font-size: var(--body-2-size);
    line-height: var(--body-2-lineheight);
    overflow-wrap: anywhere;

    &:first-child {
      width: 85px;
      font-size: var(--label-1-size);
      line-height: var(--label-1-lineheight);
      font-weight: var(--weight-medium);
      color: var(--cluster-overview-info-card-text-primary);
    }

    &:last-child {
      color: var(--cluster-overview-info-card-text-secondary);
      font-weight: var(--weight-regular);
    }
  }

  &__row:last-child &__cell {
    border-bottom: none;
  }
}
