- name: stage3
  display_name: "Stage3"
  steps:
    - name: mapping_step
      display_name: "MappingStep"
      description: "Mapping step description"
      hc_template:
        file:
          path: wizard_jinja/steps/s3_config.j2
        engine:
          type: jinja2

