.actionWizardConflictProcessDialog {

  &__cancelExtraButton {
    justify-self: flex-end;
    gap: 12px;
  }

}

.actionWizardConflictProcessDialogControls {

  &__customControl {
    justify-content: flex-end;
  }
}
