- name: stage_constraint_one_two
  display_name: Stage constraint one two
  steps:
    - name: step_constraint_one_two
      display_name: step_constraint_one_two
      hc_template:
        file:
          path: stages/constraint_one_two/step.j2
        engine:
          type: jinja2