<app-add-button class="add-button" [name]="type" [component]="component">
  Create {{ type }}</app-add-button>

<adwp-list
  [columns]="listColumns"
  [dataSource]="data$ | async"
  [paging]="paging | async"
  [sort]="sorting | async"
  [defaultSort]="defaultSort"
  [currentId]="current ? current.id : undefined"
  (clickRow)="clickRow($event)"
  (auxclickRow)="auxclickRow($event)"
  (changePaging)="onChangePaging($event)"
  (changeSort)="onChangeSort($event)"
  (chooseAll)="chooseAll($event)"
></adwp-list>
