:global {
  body.theme-dark {
    --cluster-name-title-color: var(--color-xwhite-off);
  }

  body.theme-light {
    --cluster-name-title-color: var(--color-xblack);
  }
}

.clusterName {
  display: inline-flex;
  align-items: center;
  gap: var(--space-300);
  flex: 1;
  min-width: 0;

  &__status {
    min-width: 0;
  }

  &__title {
    font-size: var(--body-1-size);
    font-weight: var(--weight-medium);
    line-height: var(--body-1-lineheight);
    color: var(--cluster-name-title-color);
    overflow-wrap: anywhere;
  }
}
