:host {
  width: 100%;
}

:host :ng-deep .object_name,
:host :ng-deep .operation_name,
:host :ng-deep .action_date,
:host :ng-deep .username,
:host :ng-deep .username_header,
:host :ng-deep .table-end {
  flex-grow: 0;
}

:host ::ng-deep .object_type {
  min-width: 70px;
}

:host ::ng-deep .object_name {
  flex-basis: 175px;
  width: 175px;
  min-width: 70px;
}

:host ::ng-deep .operation_name {
  flex-basis: 300px;
  width: 300px;
  min-width: 90px;
}

:host ::ng-deep .operation_type,
:host ::ng-deep .operation_result {
  min-width: 90px;
}

:host ::ng-deep .action_date {
  flex-basis: 220px;
  width: 220px;
  min-width: 220px;
}

:host ::ng-deep .username,
:host ::ng-deep .username_header {
  width: 150px;
  flex-basis: 150px;
  min-width: 100px
}

:host ::ng-deep .username {
  word-break: break-all;
}

:host ::ng-deep .table-end {
  width: 80px;
  flex-basis: 80px;
}

.controls {
  position: absolute;
  right: 40px;
  top: 16px;
}
