.wizardMapping {
  margin-bottom: 40px;
}

.hostsModeSwitch {
  margin-bottom: 24px;
}

.dynamicActionDialog {
  &__tabs {
    margin-bottom: 24px;
  }

  &__toolbar {
    margin-bottom: 24px;
  }

  &__componentWrapper {
    overflow: auto;
    height: 460px;
  }

  &__footer {
    margin-top: 24px;
  }
}
