<ng-container [formGroup]="form">
  <adwp-input [form]="form" label='Group name' controlName='name'></adwp-input>
  <adwp-input [form]="form" label='Description' controlName='description'></adwp-input>
  <adwp-input-select [form]="form" label="Select users" controlName="user"
                     #users="rbacUsers"
                     [handler]="users.label"
                     [rbac-users-as-options]="filter"
                     [selectRowDisableCheck]="isDisabled"
                     [options]="users.options$ | async | falseAsEmptyArray"
                     (filter)="updateFilter('search', $event)"
  ></adwp-input-select>
  <adwp-controls [title]="title" [disabled]="form.invalid || form.pristine" (cancel)="onCancel()"
                 (save)="save()"></adwp-controls>
</ng-container>
