:global {
  body.theme-dark {
    --policy-row-color: var(--color-xwhite-off);
    --table-expandable-row-background: var(--table-tr-background-primary);
  }

  body.theme-light {
    --policy-row-color: var(--color-xdark);
    --table-expandable-row-background: var(--color-xgray-alt);
  }
}

.policiesTable {
  table {
    table-layout: fixed;
    width: 100%;

    td {
      div {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  &__policyRow {
    &.expandedRow {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      td {
        color: var(--policy-row-color);
        font-weight: 500;

        &:first-child {
          border-bottom-left-radius: 0;
        }

        &:last-child {
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  &__expandedRow {
    position: relative;
    top: -12px;

    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-spacing: 0;

    td {
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      box-shadow: inset 0 0 0 2px var(--table-tr-border, transparent);
    }
  }
}
