<form [formGroup]="userForm" class="rbac-user-form" tabindex="0" autocomplete="off">
  <adwp-input [form]="userForm" label='User name' controlName='username' ></adwp-input>
  <div class="rbac-user-form__password">
    <adwp-input [form]="userForm"
                label='Password' controlName='password' type="password"
                (focusin)="onFocus()" (focusout)="onBlur()"
                [hidden]="_isUserNotActive(value)"></adwp-input>
    <adwp-input [form]="confirmForm"
                label='Confirm password' controlName='password' type="password"
                (focusin)="onFocus()" (focusout)="onBlur()"
                [hidden]="_isUserNotActive(value)"></adwp-input>
  </div>
  <div class="row" [formGroup]="userForm">
    <mat-checkbox formControlName="is_superuser">ADCM Administrator</mat-checkbox>
  </div>
  <adwp-input [form]="userForm" label='First name' controlName='first_name'></adwp-input>
  <adwp-input [form]="userForm" label='Last name' controlName='last_name'></adwp-input>
  <adwp-input [form]="userForm" label='Email' controlName='email'></adwp-input>
  <adwp-input-select [form]="userForm" label="Select groups" controlName="group"
                     #groups="rbacGroups"
                     [handler]="groups.label"
                     [rbac-groups-as-options]="filter"
                     [selectRowDisableCheck]="isDisabled"
                     [options]="groups.options$ | async | falseAsEmptyArray"
                     (filter)="updateFilter('search', $event)"

  ></adwp-input-select>
  <adwp-controls [title]="title" [disabled]="form.invalid || form.pristine" (cancel)="onCancel()"
                 (save)="save()" [hiddenSaveButton]="_isUserNotActive(value)"></adwp-controls>
</form>
