<form [formGroup]="form">
  <adwp-input [form]="form" label='User name' controlName='username'></adwp-input>
  <adwp-input [form]="form" label='Password' controlName='password' type="password"></adwp-input>
  <adwp-input [form]="form" label='First name' controlName='first_name'></adwp-input>
  <adwp-input [form]="form" label='Last name' controlName='last_name'></adwp-input>
  <adwp-input [form]="form" label='Email' controlName='email'></adwp-input>
  <adwp-input-select [form]="form" label="Select groups" controlName="group" labelKey="name"
                     appRbacGroupsAsOptions
                     #groups="rbacGroups"
                     [options]="groups.options$ | async"></adwp-input-select>
  <adwp-controls [title]="title" [disabled]="!form.valid" (cancel)="onCancel()" (save)="save()"></adwp-controls>
</form>
