:host {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 50%
}

.text-ellipsed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.green {
  color: #00e676;
}

.orange {
  color: #ff8c00;
}

.red {
  color: #ff8a80;
}
