<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript">
    {% block js %}{% endblock %}
    </script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'starter-template.css' %}"> 
    <link rel="stylesheet" href="{% static 'adcm.css' %}">     
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><span class="green">Arenadata</span>Cluster Manager</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/{{ cluster.id }}/">{{ cluster.name }}</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

{% block content %}
{% endblock %}

</div><!-- /.container -->

</body>
</html>