{% extends "base.html" %}
{% block title %}ArenaData Cluster Management{% endblock %}

{% block js %}
window.onload = function () {
    var conn;
    var msg = document.getElementById("msg");
    var log = document.getElementById("log");

    function appendLog(item) {
        var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
        log.appendChild(item);
        if (doScroll) {
            log.scrollTop = log.scrollHeight - log.clientHeight;
        }
    }

    if (window["WebSocket"]) {
        {% if local == 'dev' %}
        ws_url = "ws://localhost:8020/ws/{{type}}/"        
        {% else %}
        ws_url = "ws://" + document.location.host + "/ws/{{type}}/"
        {% endif %}
        var item = document.createElement("div");
        item.innerHTML = "<b>Connecting to "+ ws_url + "</b>";
        appendLog(item);
        conn = new WebSocket(ws_url, ["adcm", "{{token}}"]);
        conn.onclose = function (evt) {
            var item = document.createElement("div");
            item.innerHTML = "<b>Connection closed.</b>";
            appendLog(item);
        };
        conn.onmessage = function (evt) {
            var messages = evt.data.split('\n');
            for (var i = 0; i < messages.length; i++) {
                var item = document.createElement("div");
                item.innerText = messages[i];
                appendLog(item);
            }
        };
    } else {
        var item = document.createElement("div");
        item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
        appendLog(item);
    }
};
{% endblock %}

{% block content %}

<h2>WS test</h2>

<div id="log" style="padding: 0.5em 0.5em 0.5em 0.5em; width: 90%"></div>

{% endblock %}
