:global {
  body.theme-dark {
    --maintenance-mode-unavailable-color: var(--color-xdark);

    --maintenance-mode-on-color: var(--color-xred);

    --maintenance-mode-pending-color: var(--color-orangex);
  }

  body.theme-light {
    --maintenance-mode-unavailable-color: var(--color-xdark);

    --maintenance-mode-on-color: var(--color-xred);

    --maintenance-mode-pending-color: var(--color-orangex);
  }
}

.maintenanceModeIcon {
  display: inline-flex;
  padding: 0;

  &_unavailable {

    &:disabled {
      color: var(--maintenance-mode-unavailable-color);
      cursor: not-allowed;
    }
  }

  &_on {
    color: var(--maintenance-mode-on-color);
  }

  &_pending {
    color: var(--maintenance-mode-pending-color);
  }
}
