:global {
  body.theme-dark {
    --cluster-overview-description-text: var(--color-xgray-lighter);
  }

  body.theme-light {
    --cluster-overview-description-text: var(--color-xgray-new-darker);
  }
}

.clusterOverviewDescription {
  display: flex;
  align-items: center;
  gap: var(--space-100);
  min-width: 0;
  width: fit-content;
  max-width: 100%;
  margin-bottom: var(--space-200);

  &__text {
    min-width: 0;
    font-size: var(--body-2-size);
    line-height: var(--body-2-lineheight);
    letter-spacing: var(--letter-spacing-050p);
    color: var(--cluster-overview-description-text);
    overflow-wrap: anywhere;
    white-space: pre-wrap;
  }

  &__edit {
    flex-shrink: 0;
  }
}
