<div class="container">
  <div *ngIf="user$ | async as user">

    <p>You are authorized as [ <b>{{ user.username }}</b> ]</p>

    <hr />

    <div [formGroup]="cpForm">
      <h3>Change Password</h3>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" (input)="cpForm.get('cpassword').updateValueAndValidity()"
          type="password">
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input matInput placeholder="Confirm password" formControlName="cpassword" appConfirmEqualValidator="password"
          type="password">
      </mat-form-field>
      &nbsp;
      <button mat-raised-button [disabled]="!cpForm.valid" (click)="changePassword()">Save</button>
    </div>

    <hr />

    <h3>Profile</h3>

    <h4>Dashboard</h4>
    <div *ngIf="user.profile.dashboard" style="margin: 0 40px;">
      <h5>Widgets</h5>
      <ul *ngFor="let widget of flatten(user.profile.dashboard)">
        <li>title: {{ widget.title }}, type: {{ widget.type }}</li>
      </ul>
    </div>
    <h4>Metrics</h4>
    <span>Allow ADCM collect and send non-personalized information?</span>  - {{ user.profile.metrics? 'Yes': 'No' }}
    <p>&nbsp;</p>
    <hr />
  </div>
</div>
