:host {
  flex: 1;
  position: relative;
}

.na-hu {
  position: absolute;
  top: -80000px;
}

.fields {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 2;
  padding: 0 10px;
}

.pre-load {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
}
