:host { flex: 1; }

.na-hu {
  position: absolute;
  top: -80000px;
}

.fields {
  position: absolute;
  top: 70px;
  bottom: 10px;
  left: 0px;
  right: 0;
  overflow: auto;
  z-index: 2;
  padding: 10px 20px;
}

.pre-load {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
}
