<div class="na-hu"><input type="text" /><input type="password" /><input type="password" /></div>

<ng-container *ngIf="config$ | async; else dumb"></ng-container>
<ng-template #dumb>{{ loadingStatus }}</ng-template>

<ng-container *ngIf="isReady">
  <app-tools #tools [description]="rawConfig.description" [isAdvanced]="fields.isAdvanced"
    [disabledSave]="isLock || fls.form.invalid" [disabledHistory]="history.iconDisabled" (onfilter)="filter($event)"
    (onsave)="save()" (onhistory)="historyShow=$event"></app-tools>
  <div [@history]="historyShow ? 'showTools' : 'hideTools'">
    <app-history #history [versionID]="rawConfig.id" [historyUrl]="saveUrl" [fields]="fields"
      (version)="changeVersion($event)">
    </app-history>
  </div>
</ng-container>
<div class="fields" [@history]="historyShow ? 'show' : 'hide'">
  <app-config-fields #fls [model]="rawConfig" (event)="isReady=true"></app-config-fields>
</div>
