<div class="na-hu"><input type="text" /><input type="password" /><input type="password" /></div>
<ng-template #dumb>{{ loadingStatus }}</ng-template>
<ng-container *ngIf="config$ | async as data; else dumb">
  <app-tools #tools [description]="data.description" [isAdvanced]="isReady&&fields.isAdvanced"
    [disabledSave]="isLock || fls.form.invalid" [disabledHistory]="history.iconDisabled" (onfilter)="filter($event)"
    (onsave)="save()" (onhistory)="historyShow=$event"></app-tools>
  <div [@history]="historyShow ? 'showTools' : 'hideTools'">
    <app-history #history [versionID]="data.id" [historyUrl]="saveUrl" [fields]="fields"
      (version)="changeVersion($event)">
    </app-history>
  </div>
  <div class="fields" [@history]="historyShow ? 'show' : 'hide'">
    <app-config-fields #fls [model]="data" (event)="isReady=true"></app-config-fields>
  </div>
</ng-container>
