<!--group_config?.disabled - if true, group checkbox is disabled-->
<!--group_config?.checkboxValue - if false, group checkbox is not checked, and switcher is disabled and vice versa-->
<mat-expansion-panel [expanded]="active" [disabled]="!active" [ngClass]="{ panel: true, advanced: isAdvanced }" #ep>
  <mat-expansion-panel-header>
    <mat-panel-title class="title">
      <mat-checkbox
        *ngIf="groupCheckboxExist()"
        [disabled]="group_config?.disabled"
        [checked]="group_config?.checkboxValue"
        (click)="!group_config?.disabled && clickGroupCheckbox($event)"></mat-checkbox>
      <span>{{ panel.display_name }}</span>
      <mat-slide-toggle
        *ngIf="panel.activatable"
        [disabled]="groupCheckboxExist() && !group_config?.checkboxValue"
        [checked]="active"
        (change)="activeToggle($event)">
      </mat-slide-toggle>
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon *ngIf="panel.description" style="vertical-align: middle;" [ngClass]="'info-icon'"
                matTooltipClass="info-tooltip" [matTooltip]="panel.description">info_outline</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-config-fields class="in-group" [dataOptions]="panel.options" [form]="form" [uniqId]="uniqId"></app-config-fields>
</mat-expansion-panel>
