<mat-expansion-panel [expanded]="checked" [disabled]="!checked" [ngClass]="{ panel: true, advanced: isAdvanced() }" #ep>
  <mat-expansion-panel-header>
    <mat-panel-title class="title">
      <span>{{ panel.label }}</span>
      <mat-slide-toggle *ngIf="panel.activatable" [checked]="checked" (change)="activeToggle($event)">
      </mat-slide-toggle>
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon *ngIf="panel.description" matSuffix [appTooltip]="panel.description">
        info_outline
      </mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="pad">
    <ng-container *ngFor="let options of panel.options; trackBy: trackBy">
      <ng-container *ngIf="options.limits?.yspec; else simple">
        <app-yspec-fields [form]="form" [options]="options"></app-yspec-fields>
      </ng-container>
      <ng-template #simple>
        <app-field *ngIf="!options.hidden" [form]="form" [options]="options"></app-field>
      </ng-template>
    </ng-container>
  </div>
</mat-expansion-panel>
