@import "~@angular/material/_theming";

.action-link {
  color: #1ee564;
  cursor: pointer;
}

.action-button {
  padding: 0;
  min-width: auto;
  line-height: normal;
}

a {
  cursor: pointer;
  color: mat-color($mat-blue, 200) !important;

  &:hover {
    text-decoration: underline;
  }
}
