:global {
  body.theme-dark {
    --concern-icon-error: var(--color-xred);
    --concern-icon-warning: var(--color-yellow-lighter);
  }

  body.theme-light {
    --concern-icon-error: var(--color-xred-light);
    --concern-icon-warning: var(--color-warning-orange);
  }
}

.concern {
  &_warning {
    color: var(--concern-icon-warning);
  }

  &_error {
    color: var(--concern-icon-error);
  }
}
