<ng-container [formGroup]="form">
  <adwp-input [form]="form" label='User name' controlName='userName'></adwp-input>
  <adwp-input [form]="form" label='Password' controlName='password' type="password"></adwp-input>
  <adwp-input [form]="form" label='First name' controlName='firstName'></adwp-input>
  <adwp-input [form]="form" label='Last name' controlName='lastName'></adwp-input>
  <adwp-input [form]="form" label='Email' controlName='email'></adwp-input>
  <adwp-input-select [form]="form" label="Select groups" controlName="groups" [options]="options"></adwp-input-select>
  <adwp-controls [disabled]="!form.valid" (cancel)="onCancel()" (save)="save()"></adwp-controls>
</ng-container>
