:host {
  display: flex;
  flex: 1;
  width: 100px;
  justify-content: center;
}

.history-button {
  display: flex;
  width: 24px !important;
  min-width: unset !important;
  color: rgba(255, 255, 255, 0.3);
}

.has-history {
  color: #78909c !important;
}
