mat-header-cell.list-control, mat-cell.list-control {
  flex-grow: 0;
  flex-basis: 60px;
  text-align: center;
}

.width100 {
  flex-grow: 0;
  flex-basis: 100px;
}

.width30pr {
  flex-grow: 1;
  flex-basis: 30%;
  width: 100px
}

.text-ellipsed  {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* BEGIN: Material header arrow crutch */
.mat-header-cell .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1 !important;
}
/* END: Material header arrow crutch */

mat-cell {
  padding: 0 2px;
}

mat-header-cell {
  padding: 0 2px;
}

.expandedRow {
  min-height: 0;
}
