@import "node_modules/@adwp-ui/widgets/styles/lib.theme";

.top-menu.mat-list-base .mat-list-item {
  color: mat-color($mat-green, A400);
  width: auto;
  height: 40px;
}

mat-toolbar.toolbar {
  background-color: #21212163;
}

mat-form-field textarea {
  background-color: #cccccc!important;
  color: #333!important;
}

.mat-dialog-content {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #B5C6CA #FFF;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: inherit;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: #B5C6CA;
  border-radius: 2.5px;
  border: 3px solid inherit;
}

.info-tooltip.mat-tooltip {
  display: flex;
  max-width: 900px;
  text-align: left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 16px;
  border: solid 1px #455A64;
  padding: 8px 14px;
  background-color: #37474F;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  z-index: 1100;
}

mat-header-cell.list-control, mat-cell.list-control {
  flex-grow: 0;
  flex-basis: 60px;
  text-align: center;
}

.width100 {
  flex-grow: 0;
  flex-basis: 100px;
}

.width30pr {
  flex-grow: 1;
  flex-basis: 30%;
  width: 100px
}

/* BEGIN: Material header arrow crutch */
.mat-header-cell .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1 !important;
}
/* END: Material header arrow crutch */

mat-cell {
  padding: 0 2px;
}

mat-header-cell {
  padding: 0 2px;
}

.expandedRow {
  min-height: 0;
}
