:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tools {
  position: fixed;
  right: 60px;
  top: 150px;
}

div.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

textarea.log,
textarea.check {
  background-color: #424242;
  border: 0;
  color: #fff;
  flex: 1;
}

textarea.check {
  height: 300px;
  width: 100%;
}

.accordion {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.status {
  white-space: nowrap;
}

.item-info {
  align-items: center;
  justify-content: flex-end;
}
