.add-host2cluster {
  flex: 1;
}

.tools {
  display: flex;
  width: 100%;
  align-items: center;
  flex: 0 0 45px;
  padding: 0 16px;
  box-sizing: border-box;

  > .text {
    display: flex;
    width: 100%;
  }

  > .actions {
    display: flex;
    align-items: center;
  }
}
