.tools, .logs {
    display: flex;
    margin: 10px 0;
}

.tools {
    justify-content: space-evenly;
}

.logs div:last-child {
    margin-left: 40px;
}

mat-select {
    width: 250px;
}

pre { font-size: 12px;}

label {font-size: 12px;}
mat-select {margin-left: 20px; border: solid 1px #ccc; padding: 4px 8px;}
