<div class="container">
  <div class="tools" [formGroup]="form">
    <div>
      <label>Update object of type: </label>
      <mat-select placeholder="Select object type" formControlName="typesName">
        <mat-option *ngFor="let item of types" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </div>
    <div>
      <label>Update object on the event: </label>
      <mat-select placeholder="Select event" formControlName="eventsName">
        <mat-option *ngFor="let item of events" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </div>
    <mat-checkbox formControlName="timeOut">Timeout</mat-checkbox>
    <ng-container *ngIf="form.get('timeOut').value">
      <mat-slider thumbLabel tickInterval="100" min="1" max="1000" #slider></mat-slider>
    </ng-container>
    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <div class="logs" *ngFor="let log of logs$ | async">
    <div>
      <pre>{{ log.event | json }}</pre>
    </div>
    <div>
      <p>{{ log.response.title }}</p>
      <pre>{{ log.response.value | json }}</pre>
    </div>
  </div>
</div>
