:host {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 50%
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rename-button {
  display: none;
  margin-left: 10px;
  width: 24px !important;
  min-width: unset !important;
}

.editIcon {
  font-size: 20px !important;
  height: 20px !important;
  width: 20px !important;
  vertical-align: text-bottom;
}
