<div *ngIf="options.type === 'list' || options.type === 'dict'" class="label">
  <label>{{ options.name }}</label>
  <button *ngIf="!isReadOnly && options.type === 'list'" [disabled]="form.disabled" mat-icon-button color="accent" (click)="add()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<div class="content" *ngIf="form">
  <ng-container [formGroup]="form">
    <div [ngClass]="{'item-iteration': true, dif: options.type === 'list' || options.type === 'dict'}"
      *ngFor="let item of controls; let i = index;">

      <app-root-scheme [form]="item.form" [options]="item.rules" [value]="item.value" [invisibleItems]="invisibleItems"  
        *ngIf="item.type === 'list' || item.type === 'dict'; else simple">
      </app-root-scheme>

      <ng-template #simple>
        <app-item-scheme [item]="item" [isReadOnly]="isReadOnly" [index]="i" (remove)="remove($event)" [invisibleItems]="invisibleItems">
        </app-item-scheme>
      </ng-template>

      <button class="remote-btn" *ngIf="!isReadOnly && item.parent === 'list' && item.type === 'dict'" mat-icon-button
        color="primary" [disabled]="form.disabled" (click)="remove(i)">
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
