:host {
  display: block;
  width: 100%;
  margin-bottom: 20px;

  & div.label {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  & div.content {
    margin-left: 10px;

    & .item-iteration.dif:nth-child(even) {
      background-color: #545454;
    }

    & .item-iteration {
      display: flex;

      &>div {
        flex: 1;
      }
    }

    & .remote-btn {
      align-self: center;
      margin-left: 10px;
    }
  }
}
