:host {
  display: block;
  width: 100%;
  margin-bottom: 20px;

  .content {
    padding-left: 20px;

    & .item-iteration:nth-child(even) {
      background-color: #545454;
    }

    & .item-iteration {
      display: flex;

      &>div {
        flex: 1;
      }
    }
  }
}
