<div>
  <label>{{ name }} :: {{ type }}</label>
  <button mat-icon-button color="accent" (click)="add()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<div class="content" [formGroup]="form">

  <ng-container *ngFor="let item of items; index as i; trackBy: trackByFn">
    <ng-container *ngIf="(item.rules.type === 'list' || item.rules.type === 'dict'); else simple">
      <div style="display: flex;">

        <app-scheme [options]="item" [form]="item.form" style="flex: 1"></app-scheme>

        <ng-container *ngIf="item.rules.type === 'dict'">
          <button mat-icon-button color="primary">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </ng-container>

      </div>
    </ng-container>

    <ng-template #simple>

      <ng-container [formGroupName]="name">

        <!-- <div style="margin:6px 0;">
          <mat-checkbox *ngIf="item.rules.type === 'bool'; else textbox" [formControlName]="item.name"
            [checked]="item.value">{{ item.rules.name }}</mat-checkbox>
        </div>

        <ng-template #textbox> -->

        <ng-container *ngFor="let item of items; trackBy: trackByFn">
          <mat-form-field style="margin: 6px 0 0; width: 100%;">
            <mat-label>{{ item.name }}</mat-label>
            <input matInput placeholder="" [formControlName]="item.name" [value]="item.value">
            <!-- <button mat-icon-button color="primary" matSuffix (click)="remove(i)">
          <mat-icon>highlight_off</mat-icon>
        </button> -->
            <mat-error *ngIf="!isValid">
              <mat-error *ngIf="hasError('required')">Field [{{ item.display_name }}] is required!</mat-error>
              <mat-error *ngIf="hasError('pattern')">Field [{{ item.display_name }}] is invalid!</mat-error>
              <mat-error *ngIf="hasError('min')">Field [{{ item.display_name }}] value cannot be less than
                {{ item.validator.min }}!</mat-error>
              <mat-error *ngIf="hasError('max')">Field [{{ item.display_name }}] value cannot be greater than
                {{ item.validator.max }}!</mat-error>
            </mat-error>
          </mat-form-field>
        </ng-container>
        <!-- </ng-template> -->

      </ng-container>

    </ng-template>
  </ng-container>
</div>
