<div>
  <label>{{ name }} :: {{ type }}</label>
  <button mat-icon-button color="accent" (click)="add()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<div class="content">
  <ng-container *ngFor="let item of items; index as i; trackBy: trackByFn">
    <ng-container *ngIf="(item.rules.type === 'list' || item.rules.type === 'dict'); else simple">
      <div style="display: flex;">

        <app-scheme [options]="item" [form]="form" style="flex: 1"></app-scheme>

        <ng-container *ngIf="item.rules.type === 'dict'">
          <button mat-icon-button color="primary">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </ng-container>

      </div>
    </ng-container>
    <ng-template #simple>

      <div style="margin:6px 0;">
        <mat-checkbox *ngIf="item.rules.type === 'bool'; else textbox">{{ item.rules.name }}</mat-checkbox>
      </div>

      <ng-template #textbox>
        <mat-form-field style="margin: 6px 0 0; width: 100%;">
          <mat-label>{{ item.rules.name }}</mat-label>
          <input matInput placeholder="" [value]="item.value">
          <button mat-icon-button color="primary" matSuffix (click)="remove(i)">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </mat-form-field>
      </ng-template>
    </ng-template>
  </ng-container>
</div>
