<div class="form" #formPanel [@showForm]="isShowForm ? 'show' : 'hide'">
  <ng-container *ngIf="current">
    <p style="text-align: center;">
      {{ current.type.toUpperCase() }} : <b>{{ current.fqdn || current.display_name || current.name }}</b>
    </p>
    <button mat-icon-button (click)="isShowForm = false">
      <mat-icon>clear</mat-icon>
    </button>
    <div>
      <app-config-form [configUrl]="current.config" (event)="onLoad()"></app-config-form>
    </div>
  </ng-container>
</div>
<div style="text-align: center">
  <button mat-button (click)="show('cluster', cluster)" [matTooltip]="'CLUSTER: ' + cluster.name">
    {{ cluster.name }}&nbsp;<mat-icon>settings</mat-icon>
    <mat-icon color="warn" *ngIf="checkIssue(cluster.issue)">priority_hight</mat-icon>
  </button>
</div>
<div class="holder">
  <div>
    <button mat-button *ngFor="let s of services$ | async" (click)="show('service', s)" [matTooltip]="s.display_name">
      <mat-icon>perm_data_setting</mat-icon>&nbsp;<span>{{ s.display_name }}</span>
      <mat-icon color="warn" *ngIf="checkIssue(s.issue)">priority_hight</mat-icon>
    </button>
  </div>
  <div>
    <div *ngFor="let p of hosts$ | async">
      <ng-container *ngIf="p.hosts.length">
        <button mat-button (click)="show('provider', p)" [matTooltip]="'PROVIDER: ' + p.name">
          <mat-icon>store</mat-icon>&nbsp;<span>{{ p.name }}</span>
          <mat-icon color="warn" *ngIf="checkIssue(p.issue)">priority_hight</mat-icon>
        </button>
        <div class="component">
          <button mat-button *ngFor="let host of p.hosts" (click)="show('host', host)" [matTooltip]="'HOST: ' + host.fqdn">
            <mat-icon>storage</mat-icon>&nbsp;<span>{{ host.fqdn }}</span>
            <mat-icon color="warn" *ngIf="checkIssue(host.issue)">priority_hight</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
