.holder {
  display: flex;
  justify-content: space-around;

  &>div {
    display: flex;
    flex-direction: column;

    &>button {
      text-align: left;
    }
  }
}

.form {
  position: fixed;
  width: 0;
  height: 0;
  opacity: .98;
  background-color: #424242;
  top: 60px;
  left: 10px;
  z-index: 1;
  overflow: hidden;

  &>div {
    padding: 20px;
  }

  &>button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.component {
    background-color: #474747;
    padding: 2px 6px;
    margin: 0 8px 12px 8px;
    box-shadow: inset 2px 2px 5px rgba(90, 90, 90, 0.5), 1px 1px 5px #383838;
}
