- name: prepare
  script_type: ansible
  script: ./playbook.yaml

- group:
    type: parallel
    name: shards
    display_name: Shards
    scripts:
      - group:
          type: sequential
          name: shard_a
          scripts:
            - name: step
              script_type: ansible
              script: ./playbook.yaml
            - name: step
              script_type: ansible
              script: ./playbook.yaml
            - name: finish
              script_type: ansible
              script: ./playbook.yaml

      - group:
          type: sequential
          name: shard_b
          scripts:
            - name: step
              script_type: ansible
              script: ./playbook.yaml

- name: finish
  script_type: ansible
  script: ./playbook.yaml
