body.theme-dark {
  --scrollbar-thumb-color: var(--color-xdark);
  --scrollbar-track-color: var(--color-xdark-new);
}
body.theme-light {
  --scrollbar-thumb-color: var(--color-xgray-lighter);
  --scrollbar-track-color: var(--color-xgray-alt-60);

}

@mixin scrollbar-styles {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    top: 20px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
  }
}

.scroll,
.scroll-rounded {
  @include scrollbar-styles;
}

.scroll-rounded::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
