<div class="tools" [ngClass]="{ hidden: field.read_only}">
  <button mat-icon-button color="accent" [disabled]="control.disabled" (click)="add()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>

<div *ngFor="let item of dummyControl.controls; let i = index" class="item" [formGroup]="item">
  <mat-form-field class="key-field" *ngIf="!asList">
    <span matSuffix>:</span>
    <input matInput formControlName="key" [readonly]="field.read_only" [errorStateMatcher]="matcher" />
    <mat-error *ngIf="check(item)">Map property name is required!</mat-error>
  </mat-form-field>
  <mat-form-field class="value-field">
    <button mat-icon-button matSuffix (click)="clear(i)" [disabled]="control.disabled" *ngIf="!field.read_only">
      <mat-icon>clear</mat-icon>
    </button>
    <input #secretInput matInput formControlName="value" [readonly]="field.read_only" (blur)="onBlur(i)" (click)="onFocus()" />
  </mat-form-field>
</div>
<mat-error *ngIf="hasError('required')" class="error">Field [{{ field.display_name }}] is required!</mat-error>
