.counters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;

  & .item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.notifications {
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}

.notification {
  display: flex;
  align-items: center;
  width: 100%;
}

.notification + .notification {
  border-top: solid 1px #455A64;
  margin-top: 5px;
  padding-top: 5px;
}

.footer, .header {
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acknowledge {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.empty-label {
  margin: 20px 0;
  text-align: center;
  font-style: italic;
}

.empty-footer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
