<ng-container *ngIf="row.status === 'running'; else done">
  <button
    class="stop-btn"
    mat-raised-button
    appHoverStatusTask
    *ngIf="row.terminatable; else iconStatus"
    (click)="cancelJob()"
    matTooltip="Stop job"
  >
    <mat-icon class="icon-locked running" #taskIcon>autorenew</mat-icon>
  </button>
  <ng-template #iconStatus>
    <mat-icon class="icon-locked running">autorenew</mat-icon>
  </ng-template>
</ng-container>
<ng-template #done>
  <mat-icon
    [class]="row.status"
    [class.icon-locked]="row.status === 'running'"
    [matTooltip]="row.status"
  >
    {{ iconDisplay[row.status] }}
  </mat-icon>
</ng-template>
