:host {
  flex: 1;
  margin-bottom: 10px;

  & .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-top: 12px;
    margin-left: 25%;
    border: dotted 1px #5d5c5c;
    border-radius: 6px;
    padding: 0px 5px;

    & button {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }

    & .mat-icon {
      font-size: 1.5em;
      width: auto;
    }
  }

  .rightmargin {
    margin-right: 30px;
  }

  & .value {
    display: flex;
    align-items: center;


    label {
      flex-basis: 25%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
      font-size: 16px;
      border-bottom: dotted 1px #606060;
    }


    & .fields {
      flex: 1;
      margin-right: 20px;

      & div.item {
        display: flex;
        align-items: baseline;

        & .key-field {
          flex: 0 1 50%;
          margin-right: 10px;
        }

        & .value-field {
          flex: 1 0 50%;
        }
      }
    }

    .description {
      font-size: 1.5em;
      width: auto;
    }
  }

  &.advanced .value {    
    label {border-bottom: dotted 1px #00e676 !important;}    
  }

  .error {
    font-size: 75%;
  }

}
